// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Container's maximum width
/// @type Length
$max-width: 1180px;


// COLORS
$color-white: #FFFFFF;
$color-yellow: #FFD042;
$color-blue: #131C6D;
$color-violet: #7630E5;
$color-grey-text: #DADADA;
$color-footer-text: #322b6c;
$color-footer-text-2: #332A6D;
$color-submit: #00C2CC;
$color-black: #000;
$color-darkgrey-text: #828282;
$color-violet-transparent: rgba(50, 43, 108, 0.8);


//  FONTS 

$font-gl: 'GilroyExtraBold';
$font-tr: 'truenolight';
$font-tr-rg: 'truenoregular';
$font-tr-bd: 'TruenoBold';
$font-rb: 'Roboto';