// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.Networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1.8rem;
  margin-right: 2rem;

  @include breakpoint (ipad--Landscape) {
    margin-right: 1rem;
  }

  @include breakpoint(mobile) {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  @include breakpoint(mobile--Small) {
    padding-right: 1rem;

  }

  a {
    padding-left: 1.3rem;

    :hover {
      fill: #2a245b;
    }
  }
}
.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;

  @include breakpoint(mobile) {
    display: none;
  }

  &_copy {
    font-family: $font-tr-rg;
    font-size: 1.4rem;
    color: $color-footer-text-2;
    padding-right: 2.5rem;
  }

  &_policy {
    text-transform: uppercase;
    font-family: $font-tr-rg;
    font-size: 1.6rem;
    color: $color-footer-text;
  }
}
