// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.Networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1.8rem;
  

  @include breakpoint(mobile) {
    margin-right: 0;
    padding-left: 0;
    padding-right: 1.5rem;
  }
  @include breakpoint(mobile--Small) {
    padding-right: 1rem;

  }
  @include breakpoint (desktop) {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
  @include breakpoint (desktop--Big) {
    margin-right: 0;
  }

  img {
    width: 2.7rem;
    margin-left: 1.2rem;
    
  }
  

  
}
.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;

  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint (desktop) {
    padding-bottom: 1.5rem;
  }

  &_copy {
    font-family: $font-tr-rg;
    font-size: 1.4rem;
    color: $color-footer-text-2;
    padding-right: 2.5rem;
  }

  &_policy {
    text-transform: uppercase;
    font-family: $font-tr-rg;
    font-size: 1.6rem;
    color: $color-footer-text-2;
  }
}
