// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: $color-footer-text;
  height: 10rem;

  @include breakpoint(tablet) {
    height: 8rem;
  }

  @include breakpoint(mobile) {
    height: 6rem;
  }
  @include breakpoint(desktop--Large) {
    height: 8.5rem !important;
  }
}

//  -----LOG0 -----//
.logo {
  margin-top: 2.8rem;

  @include breakpoint(tablet) {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  @include breakpoint(mobile) {
    margin-left: -1rem;
    margin-top: 1.5rem;
  }

  @include breakpoint(mobile--Small) {
    margin-left: .5rem;
  }
  @include breakpoint(mobile--Smallest) {
    margin-left: 0;
  }

  @include breakpoint (desktop--Large) {
    margin-top: 2.1rem;
  }

  &_picture {
    @include breakpoint(mobile) {
      width: 2.7rem;
      height: 2.7rem;
    }
    @include breakpoint (desktop) {
      width: 4rem;
      height: 4rem;

    }
    
  }

  &_text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $color-white;
    font-family: $font-tr;
    letter-spacing: 0.1rem;
    padding-left: 1.4rem;

    @include breakpoint(tablet) {
      font-size: 1.1rem;

    }

    @include breakpoint(mobile) {
      font-size: 0.8rem;
      text-transform: capitalize;
      letter-spacing: 0.03rem;
      padding-left: 0.4rem;
    }
    @include breakpoint (desktop) {
      letter-spacing: 0;
    }

    

  }
}

//  -----NAVIGATION-----//

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: $color-footer-text;
  margin-top: 3.5rem;

  @include breakpoint(tablet) {
    margin-top: 3rem;
    
  }
  @include breakpoint (desktop) {
    margin-top: 3.7rem;
  }

  @include breakpoint (desktop--Large) {
    margin-top: 3rem;
  }
  
  
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 1.1rem;
  color: $color-white;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-family: $font-tr-rg;
  text-transform: uppercase;
  //because elipse and elipse_2 has z-index: 1
  position: relative;
  z-index: 222;

  @include breakpoint(tablet) {
    font-size: 1rem;
    
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;

  @include breakpoint(mobile) {
    display: none;
  }

  &_down {
    transform: rotate(5deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: solid $color-white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 3px;
    margin-left: 7px;
  }
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: $color-white;
  padding: 0.5rem 1.2rem;
  background-color: inherit;
  font-family: $font-tr-rg;
  text-transform: uppercase;
  //beacuse elipse and elipse_2 has z-index: 1
  position: relative;
  z-index: 222;

  @include breakpoint(tablet) {
    font-size: 1rem;
    
  }
}

/* Add a background color to navigation links on hover */
.subnav:hover .subnavbtn {
  background-color: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;

  @include breakpoint(mobile--Small) {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.7rem;
  }
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  font-family: $font-tr-rg;

  @include breakpoint(mobile) {
    background-color: transparent;
    margin-top: -5rem;
  }
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;

  @include breakpoint(tablet) {
    margin-right: 0;
  }
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* links About us and Contact */
.mrg-right {
  margin-right: 2.8rem;

  @include breakpoint(tablet) {
    margin-right: 1rem;
    
  }

  &_border {

    @include breakpoint(mobile) {
      margin-right: 5rem;
    }
  
  }

  &_border:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.7rem;
  }
}

//  -----LANGUAGES-----//
.languages {
  z-index: 222;
  margin-top: 3.5rem;
  margin-right: -3.5rem;

  @include breakpoint (ipad--Landscape) {
    margin-right: 0;
  }

  @include breakpoint (tablet) {
    margin-top: 2.8rem;
    margin-right: 1.5rem;
  }
  @include breakpoint (desktop) {
    margin-top: 3.9rem;
  }
  @include breakpoint (desktop--Large) {
    margin-top: 3.2rem;
  }


  img {
    
    @include breakpoint(mobile) {
      display: none;
    }
    
  }

  a {
    margin-left: 1rem;
    width: 1rem;
  }
}

//  -----SEARCH BOX -----//
input[type="text"] {
  width: 4rem;
  height: 2.3rem;
  border: 1px solid $color-white;
  color: $color-white;
  font-family: $font-rb;
  border-radius: 1.3rem;
  font-size: 1.1rem;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;

  @include breakpoint (ipad--Landscape) {
    font-size: 1.3rem;
  }

  @include breakpoint(mobile) {
    border: none;
  }
  @include breakpoint (desktop) {
    height: 2.2rem;
  }

  @include breakpoint (desktop--Large) {
    width: 3.5rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 1.2rem;
  }

}

/* When the input field gets focus, change its width to 100px */

input[type="text"]:focus {
  width: 12rem;
  

  @include breakpoint(mobile) {
    display: none;
  }
}

.search-box {
  z-index: 222;
  margin-top: 3.5rem;
  margin-right: -18rem;

  @include breakpoint(desktop--Small) {
    margin-right: -15rem;
  }
  @include breakpoint (ipad--Landscape) {
    margin-right: -6rem;
    
  }
  @include breakpoint(tablet) {
    margin-top: 2.8rem;
    margin-right: -1rem; 

  }
  @include breakpoint(ipad)  {
    margin-right: -.3rem;
  }

  @include breakpoint(mobile) {
    display: none;
  }

  @include breakpoint (desktop) {
    margin-right: -17rem;
  }
  @include breakpoint (desktop) {
    margin-top: 3.9rem;
  }
  @include breakpoint (desktop--Large) {
    margin-top: 3.2rem;
  }
  @include breakpoint (desktop--Big) {
    margin-right: -19rem;
  }

  


  &_form button {
    border: none;
    background: $color-footer-text;
    margin-left: -2.5rem;

    @include breakpoint (desktop) {
      margin-left: -2.4rem;
    }
    @include breakpoint (desktop--Large) {
      margin-left: -2.2rem;
    }
    
    
  }

  &_search-icon {
    margin-bottom: -0.2rem;

    @include breakpoint (ipad--Landscape) {
      margin-bottom: -0.1rem;
    }

   

    @include breakpoint(mobile) {
      width: 2rem;
      height: 2rem;
      margin-left: -3rem;
    }

    @include breakpoint (desktop) {
      margin-bottom: -0.1rem;
    }

    @include breakpoint (desktop--Large) {
      margin-bottom: 0;
    }


  }
}

/*  MOBILE SEARCH BOX */

.search-box-mobile {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    margin-top: 2.1rem;
    margin-right: -16rem;
  }

  @include breakpoint(mobile--Small) {
    margin-right: -10rem;
  }
  @include breakpoint(mobile--Smallest) {
    margin-top: 2.3rem;
    margin-right: -11rem;
  }

  button {
    border: none;
    background: transparent;
    width: 2rem;
  }
}
.icon {
  width: 1.6rem;
  height: 1.6rem;
}

/*  MOBILE FULLSCREEN SEARCH BOX IN OVERLAY */

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2222;
  top: 0;
  left: 0;
  background-color: $color-footer-text;
}

.overlay-content {
  position: relative;
  top: 50%;
  width: 80%;
  margin: auto;
  background-color: $color-footer-text;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 1.9rem;
  padding: 0.7rem;

  &_input {
    background-color: $color-footer-text;
    width: 90%;
    border: none;
    font-family: "Roboto";
    font-size: 1.7rem;
    color: $color-white;
  }
}

.overlay .closebtn {
  position: absolute;
  top: 8px;
  right: 37px;
  font-size: 30px;
  cursor: pointer;
  color: $color-white;
}


.overlay button {
  float: right;
  width: 10%;
  background: $color-footer-text;
  border: none;
  cursor: pointer;
}

.overlay-search-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: .2rem;
}

/*  MOBILE NAVIGATION */

.mobile-nav {

  @include breakpoint(mobile) {
    width: 205px;
    position: absolute;
    right: 0;
    float: right;
    background-color: $color-footer-text;
    z-index: 333;
  }
  
  @include breakpoint(mobile--Small) {
    width: 205px;
    position: absolute;
    right: 0;
    float: right;
    background-color: $color-footer-text;
    z-index: 333;
  }

  a {

    @include breakpoint(mobile) {
      display: block;
      margin-top: 5rem;
      font-size: 1.1rem;
      color: $color-white;
      padding: 0.5rem 1.2rem;
      text-decoration: none;
      font-family: $font-tr-rg;
      text-transform: uppercase;
      margin-left: 2rem;
    }
    
  }
  a:first-of-type {
    margin-top: 1.8rem;
  }

  

  div.subnav {

    @include breakpoint(mobile) {
      display: block;
      margin-left: 2rem;
    }
   
  }
  div.subnav:first-of-type {

    @include breakpoint(mobile) {
      margin-top: 5rem;
    }
    
  }
  div.subnav a {

    @include breakpoint(mobile) {
      margin-top: 0;
      margin-left: 6rem;
      text-align: left;
    }
    
  }

  div.languages-mobile p {

    @include breakpoint(mobile) {
      display: block;
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-tr-rg;
      font-size: 1.3rem;
      letter-spacing: 0.02rem;
      text-align: center;
      margin-bottom: 2.9rem;
      margin-top: .50rem;
    }
  
  }
}

.mobile-nav a:hover {

  @include breakpoint(mobile) {
    background-color: transparent;
  }
  
}
button.subnavbtn.mrg-right:nth-of-type(1) {
  @include breakpoint(mobile) {
    margin-bottom: 5rem;
  }
  
}

.mobile-nav-icon {
  margin-top: 1.7rem;
  cursor: pointer;
  display: none;
  

  @include breakpoint(mobile) {
    display: inline-block;
    margin-right: 0;
  }

  @include breakpoint(mobile--Small) {
    margin-right: 1rem;
  }
}

/*  MOBILE NAVIGATION END */
.languages-mobile {
  display: none;
  margin-top: 20rem;

  @include breakpoint(mobile--Small) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  &_img {

    @include breakpoint(mobile) {
      margin-left: 2.5rem;
    }
    
  }
}

.home-mobile {
  display: none;

  @include breakpoint(mobile) {
    display: block;
  }
}

.languages-mobile a {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  float: left;
  padding-left: 0;
}
