// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  display: flex;
  justify-content: space-between;
  background-color: $color-footer-text;
  height: 10rem;
}

//  -----LOG0 -----//
.logo {
  margin-top: 2.5rem;
  margin-left: 10.5rem;

  &_text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $color-white;
    font-family: $font-tr;
    letter-spacing: 0.1rem;
    padding-left: 1.4rem;
  }
}


//  -----NAVIGATION-----//

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: $color-footer-text;
  margin-top: 3.5rem;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 1.1rem;
  color: $color-white;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-family: $font-tr-rg;
  text-transform: uppercase;
  //beacuse elipse and elipse_2 has z-index: 1
  position: relative;
  z-index: 222;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;

  &_down {
    transform: rotate(5deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: solid $color-white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 3px;
    margin-left: 5px;
  }
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: $color-white;
  padding: 0.5rem 1.2rem;
  background-color: inherit;
  font-family: $font-tr-rg;
  text-transform: uppercase;
  //beacuse elipse and elipse_2 has z-index: 1
  position: relative;
  z-index: 222;
}

/* Add a background color to navigation links on hover */
.subnav:hover .subnavbtn {
  background-color: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  font-family: $font-tr-rg;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}


/* links About us and Contact */
.mrg-right {
  margin-right: 2.8rem;

  &_border:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.7rem;
  }
}


//  -----LANGUAGES-----//
.languages {
  float: right;
  margin-top: 3.5rem;
  margin-right: 4rem;
  z-index: 222;

  a {
    margin-left: 1rem;
    width: 1rem;
  }

  &_form {
    margin-right: 1.5rem;
    float: left;
  }

}

//  -----SEARCH BOX -----//
input[type="text"] {
  width: 4rem;
  border: 1px solid $color-white;
  color: $color-white;
  font-family: $font-tr;
  border-radius: 1.3rem;
  font-size: 1.9rem;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100px */

input[type="text"]:focus {
  width: 10rem;
}

.search-icon:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  height: 7px;
  width: 1.5px;
  background-color: currentColor;
}
.search-icon {
  color: $color-white;
  position: absolute;
  margin-top: -1.8rem;
  margin-left: 1.4rem;
  width: 9px;
  height: 9px;
  border: solid 1px $color-white;
  border-radius: 100%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
