// -----------------------------------------------------------------------------
// This file contains all styles related to the ellipses component.
// -----------------------------------------------------------------------------


.elipse {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);

  &_2 {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
  }
  &_3 {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
  }
  &_4 {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
  }
  &_5 {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
  }
  &_6 {
    position: absolute;
    z-index: -1;
    width: 130.9rem;
    left: 50%;
    transform: translate(-50.5%);
  }

  &_7 {
    position: absolute;
    z-index: -1;
    width: 138.9rem;
    left: 50%;
    transform: translate(-50%);
  }

  &_7about-us {
    position: absolute;
    z-index: -1;
    width: 137rem;
    left: 50%;
    transform: translate(-50%);
  }
}
