// -----------------------------------------------------------------------------
// This file contains all styles related to the ellipses component.
// -----------------------------------------------------------------------------

.elipse {
  position: absolute;

  left: 50%;
  transform: translate(-50%);

  @include breakpoint(tablet) {
    display: none;
  }

  &_2 {
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &_3 {
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &_4 {
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &_5 {
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    @include breakpoint (ipad--Landscape) {
      width: 101.5rem;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &_6 {
    position: absolute;
    width: 131rem;
    left: 50.5%;
    transform: translate(-50.5%);

    @include breakpoint (desktop) {
      left: 50%;
    }

    @include breakpoint(desktop--Small) {
      width: 126rem;
      
    }
    @include breakpoint (ipad--Landscape) {
      display: none;
    }

  }


  &_7-about-us {
    display: none;

    @include breakpoint(desktop--Small) {
      display: block;
      width: 128rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
    @include breakpoint (ipad--Landscape) {
      width: 101.5rem;
    }
    @include breakpoint(tablet) {
      display: none;
    }

    @include breakpoint(mobile) {
      display: none;
    }

    @include breakpoint (desktop) {
      display: block;
      width: 128rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
