// -----------------------------------------------------------------------------
// This file contains all styles related to the ellipses component.
// -----------------------------------------------------------------------------


.elipse {
  position: absolute;
  
  left: 50%;
  transform: translate(-50%);
  
  @include breakpoint(mobile) {
    display: none;
  }

  &_2 {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(mobile) {
      display: none;
    }
  }
  
  &_3 {
    position: absolute;
   
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &_4 {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &_5 {
    position: absolute;
   
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &_6 {
    position: absolute;
   
    width: 131rem;
    left: 50%;
    transform: translate(-50.5%);

    @include breakpoint(desktop--Small) {
      width: 126rem;
      
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &_7 {
    position: absolute;
  
    width: 134.5rem;
    left: 50%;
    transform: translate(-50%);

  }

  &_7-about-us {
    position: absolute;
    
    width: 134.5rem;
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(desktop) {
      width: 132rem;
    }

    @include breakpoint(desktop--Small) {
      width: 128rem;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }
}
