.gradient-effect-4 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(45%, #131c6d),
    to(#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 45%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(mobile) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, #322b6c),
      color-stop(70%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 30%,
      #131c6d 70%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;

  @include breakpoint(tablet) {
    display: block;
    
  }
  
  @include breakpoint(mobile) {
    display: block;
    margin-top: 5rem;
  
  }
  @include breakpoint (mobile--Smallest) {
    margin-top: 3rem;
  }
  

  
}

.tekst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 20rem;
  margin-right: 10rem;
  z-index: 2;

  @include breakpoint(desktop--Small) {
    margin-left: 18rem;
    margin-right: 7rem;
  }
  @include breakpoint(ipad--Landscape) {
    margin-left: 13.5rem;
    margin-right: 0;
  }

  @include breakpoint(tablet) {
    margin-left: 21rem;
  }

  @include breakpoint(ipad) {
    margin-left: 19.7rem;
  }

  @include breakpoint(mobile) {
    margin-right: 0;
    margin-left: 4.5rem;
  }
  @include breakpoint(mobile--Small) {
    margin-left: 4rem;
  }
  @include breakpoint(desktop) {
    margin-right: 9rem;
  }
  

  &_1 {
    color: $color-white;
    font-family: $font-tr;
    font-size: 6.5rem;
    align-self: flex-start;

    @include breakpoint(mobile) {
      font-size: 3.5rem;
    }
  }

  &_2 {
    align-self: flex-start;
    color: $color-white;
    font-family: $font-tr-bd;
    text-transform: uppercase;
    font-size: 5rem;
    padding-bottom: 4rem;

    @include breakpoint(mobile) {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    @include breakpoint(desktop) {
      padding-bottom: 5rem;
    }
  }
  &_3 {
    align-self: flex-start;
    color: $color-white;
    font-family: "Roboto";
    font-size: 1.8rem;
    padding-bottom: 5rem;
    width: 40rem;

    @include breakpoint(mobile) {
      font-size: 1.4rem;
      width: 30rem;
      
    }
   
    
  }
}

.astronaut {
  z-index: 2;
  margin-top: -5rem;
  

  @include breakpoint(tablet) {
    margin-top: 8rem;
    margin-left: 17rem;
    
  }
  @include breakpoint(ipad) {
    margin-top: 2rem;
    margin-left: 16rem;
  }

  @include breakpoint(mobile) {
    margin-top: 7rem;
    width: 21rem;
    margin-left: 8rem;
  }

  @include breakpoint (mobile--Smallest) {
    width: 19rem;
    margin-top: 3rem;
    margin-left: 9rem;
  }

  @include breakpoint(desktop) {
    width: 49rem;
  }
}
.button {

  align-self: flex-start;


  &_home {
    text-decoration: none;
    color: $color-white;
    font-family: $font-tr-rg;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: $color-submit;
    padding: 1.5rem 4rem 1.3rem 4rem;
    border-radius: 0.2rem;
    margin-right: 2.2rem;

    @include breakpoint(mobile) {
      padding: 1.5rem 3.5rem 1.3rem 3.5rem;
      font-size: 1.2rem;
    }
  }

  &_back {
    text-decoration: none;
    color: $color-white;
    font-family: $font-tr-rg;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.35rem 4rem 1.15rem 4rem;
    border: 0.2rem solid $color-submit;
    border-radius: 0.2rem;

    @include breakpoint(mobile) {
      padding: 1.3rem 3.5rem 1.1rem 3.5rem;
      font-size: 1.2rem;
    }
  }
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  @include breakpoint (ipad--Landscape) {
    margin-top: -1rem;
  }
 
  @include breakpoint(mobile) {
    display: none;
  }

  @include breakpoint (desktop--Large) {
    margin-top: -2rem;
  }

  

  &_followus {
    color: rgba(242, 242, 242, 0.9);
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.4rem;
    padding-right: 2.5rem;
    z-index: 2;
  }

  &_socials {
    display: flex;
    margin-right: 17rem;
    z-index: 2;


    &_img {
      padding-left: 1.5rem;
      padding-bottom: 2.4rem;
  
      
      
    }
  }

  
}
