// -----------------------------------------------------------------------------
// This file contains styles that are specific to page about-us
// -----------------------------------------------------------------------------


.gradient-effect-2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(65%, #131c6d),
    color-stop(100%,#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 65%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}
.main_div-1 {
  display: flex;
  padding-top: 18rem;
  margin-left: 22rem;

  @include breakpoint(mobile)  {
    margin-left: 2rem;
    padding-top: 10rem;

   
  }

  &_box {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-right: 10rem;


    &_heading {
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-tr-rg;
      font-size: 3rem;
      padding-bottom: 1.5rem;
      text-align: right;
      letter-spacing: 0.02rem;
    }
    &_text {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      text-align: right;
    }
  }
  img {
    z-index: 2;
    @include breakpoint(mobile)  {
      margin-right: 2rem;
    }
  }
}

.main_div-2 {
  display: flex;
  padding-top: 10rem;
  margin-left: 14rem;

  @include breakpoint(mobile) {
    margin-left: 0;
  }

  &_box {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;

    @include breakpoint(mobile) {
      padding-left: 0;
      padding-right: 1rem;
      margin-left: -3rem;
    }

    &_heading {
      color: $color-white;
      font-family: $font-tr-rg;
      font-size: 3rem;
      padding-bottom: 2rem;
      letter-spacing: 0.02rem;
      text-align: left;
    }

    &_ellipsebox {
      display: flex;
    }

    &_ellipse {
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      background-color: $color-yellow;
    }
    &_text-1 {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      padding-left: 1rem;
    }

    &_text-2 {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      padding-left: 1rem;
    }
  }

  img {
    margin-top: -12rem;
    z-index: 2;

    @include breakpoint(mobile) {
      margin-top: -4rem;
      width: 35rem;
    }
  }
}

.main_div-3 {
  display: flex;
  margin-left: 22rem;
  padding-bottom: 27rem;

  @include breakpoint(mobile) {
    margin-left: 2rem;
    margin-top: 10rem;
    padding-bottom: 20rem;
  }

  &_box {
    padding-right: 11rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
      padding-right: 0;
    }

    &_heading {
      color: $color-white;
      font-family: $font-tr-rg;
      font-size: 3rem;
      padding-bottom: 1.5rem;
      padding-left: 2.1rem;
      text-align: left;
      letter-spacing: 0.02rem;
    }
    &_text {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2rem;
      letter-spacing: 0.02rem;
      text-align: right;
    }

    &_ellipsebox {
      display: flex;
      margin-left: 28rem;
      align-items: center;
      padding-top: 1.5rem;

      @include breakpoint(mobile) {
        margin-left: 25rem;
      }
    }

    &_ellipse {
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      background-color: $color-yellow;
    }
    &_text-3 {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2.2rem;
      padding-left: 1.5rem;
    }
  }
}

.Our-team {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;

  &_heading {
    color: $color-white;
    font-family: $font-tr-rg;
    font-size: 5.5rem;
    padding-left: 7rem;
    align-self: center;
    letter-spacing: 0.02rem;
  }
  &_sub-span {
    color: $color-yellow;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
  }
}

.Team-members {
  display: flex;
  justify-content: center;

  &_Aleksandar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 14rem;

    &_name {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2.4rem;
      letter-spacing: 0.02rem;
      padding-top: 3.7rem;
      padding-bottom: 0.8rem;
    }
    &_title {
      color: rgba(255, 255, 255, 0.7);
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
    }
  }

  &_Milena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_name {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2.4rem;
      letter-spacing: 0.02rem;
      padding-top: 3.7rem;
      padding-bottom: 0.8rem;
      padding-left: 2rem;
    }
    &_title {
      color: rgba(255, 255, 255, 0.7);
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      padding-left: 2rem;
    }
  }
  a {
    text-decoration: none;
  }
}

