// -----------------------------------------------------------------------------
// This file contains styles that are specific to page about-us
// -----------------------------------------------------------------------------
.gradient-effect-2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(65%, #131c6d),
    to(#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 65%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.main_div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9.5rem;
  margin-left: 28rem;

  @include breakpoint(desktop--Small) {
    margin-left: 25rem;
  }
  @include breakpoint(ipad--Landscape) {
    margin-left: 13rem;
  }
  @include breakpoint(tablet) {
    margin-left: 6rem;
  }
  @include breakpoint(ipad) {
    margin-left: 4.5rem;
  }

  @include breakpoint(iPhone) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 7rem;
    margin-left: 0;
  }

  @include breakpoint(mobile) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 7rem;
    margin-left: 0;
  }

  @include breakpoint(desktop) {
    margin-left: 27rem;
    margin-bottom: 5rem;
  }
  @include breakpoint(desktop--Large) {
    margin-left: 25rem;
  }
  @include breakpoint(desktop--Big) {
    margin-left: 27rem;
  }

  &_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 4rem;
    padding-right: 6rem;

    @include breakpoint(tablet) {
      padding-right: 4rem;
      padding-top: 5rem;
    }

    @include breakpoint(iPhone) {
      padding-right: 6.2rem;
      padding-bottom: 3rem;
    }

    @include breakpoint(mobile) {
      padding-right: 4.5rem;
      padding-bottom: 3rem;
    }
    @include breakpoint(mobile--Small) {
      padding-right: 3.6rem;
    }

    &_heading {
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-tr-rg;
      font-size: 3rem;
      padding-bottom: 1.5rem;
      text-align: right;
      letter-spacing: 0.02rem;

      @include breakpoint(tablet) {
        font-size: 2.5rem;
      }

      @include breakpoint(iPhone) {
        font-size: 2rem;
        text-align: left;
        padding-bottom: 0.5rem;
        padding-left: 6.2rem;
      }

      @include breakpoint(mobile) {
        font-size: 2rem;
        text-align: left;
        padding-bottom: 0.5rem;
        padding-left: 4rem;
      }
      @include breakpoint(mobile--Small) {
        padding-left: 3.4rem;
      }
      @include breakpoint(mobile--Smallest) {
        padding-left: 3.8rem;
      }
    }

    &_text {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      text-align: right;
      line-height: 2.6rem;

      @include breakpoint(tablet) {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      @include breakpoint(iPhone) {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }

      @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
  }
  img {
    z-index: 2;

    @include breakpoint(tablet) {
      width: 30rem;
    }
    @include breakpoint(iPhone) {
      width: 20rem;
      margin: 0 auto;
    }

    @include breakpoint(mobile) {
      width: 20rem;
      margin: 0 auto;
    }

    @include breakpoint(desktop) {
      width: 38rem;
    }
  }
}

.main_div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10rem;
  margin-left: 28rem;
  padding-bottom: 12rem;

  @include breakpoint(desktop--Small) {
    padding-top: 11rem;
    margin-left: 26rem;
  }

  @include breakpoint(ipad--Landscape) {
    margin-left: 11rem;
  }
  @include breakpoint(tablet) {
    margin-left: 7rem;
  }
  @include breakpoint(ipad) {
    margin-left: 11rem;
  }

  @include breakpoint(iPhone) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    margin-left: 1em;
    padding-right: 1rem;
    padding-bottom: 0;
  }

  @include breakpoint(mobile) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    margin-left: 1em;
    padding-right: 1rem;
    padding-bottom: 0;
  }
  @include breakpoint(mobile--Small) {
    margin-left: 0;
    padding-right: 0;
  }

  @include breakpoint(desktop) {
    margin-left: 21rem;
  }

  &_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5rem;

    @include breakpoint(tablet) {
      margin-left: -3.5rem;
    }
    @include breakpoint(ipad) {
      margin-left: -4.5rem;
    }

    @include breakpoint(iPhone) {
      margin-left: 0;
      padding-left: 0;
    }

    @include breakpoint(mobile) {
      margin-left: 0;
      padding-left: 0;
    }

    &_heading {
      color: $color-white;
      font-family: $font-tr-rg;
      font-size: 3rem;
      padding-bottom: 1.6rem;
      letter-spacing: 0.2rem;
      text-align: left;

      @include breakpoint(tablet) {
        font-size: 2.5rem;
        padding-right: 1rem;
      }

      @include breakpoint(iPhone) {
        font-size: 1.9rem;
        margin-left: 5.3rem;
        padding-right: 3rem;
        letter-spacing: 0.1rem;
        margin-top: -2rem;
      }

      @include breakpoint(mobile) {
        font-size: 1.9rem;
        margin-left: 3.5rem;
        padding-right: 3rem;
        letter-spacing: 0.1rem;
        margin-top: -2rem;
      }
    }

    &_ellipsebox {
      @include breakpoint(iPhone) {
        margin-left: 5.3rem;
      }
      @include breakpoint(mobile) {
        margin-left: 3.5rem;
      }
    }

    &_ellipse {
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      background-color: $color-yellow;
      margin-top: 0.7rem;
      margin-right: 0.5rem;
      float: left;

      @include breakpoint(iPhone) {
        width: 0.9rem;
        height: 0.9rem;
        margin-top: 0;
      }

      @include breakpoint(mobile) {
        margin-top: 0;
      }
    }

    &_text-1 {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      line-height: 2.3rem;
      padding-right: 26rem;

      @include breakpoint(desktop--Small) {
        padding-right: 24rem;
      }

      @include breakpoint(ipad--Landscape) {
        padding-right: 12rem;
      }

      @include breakpoint(tablet) {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-right: 5rem;
      }

      @include breakpoint(iPhone) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding-bottom: 1rem;
        padding-right: 4rem;
      }

      @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding-bottom: 1rem;
        padding-right: 0.5rem;
      }

      @include breakpoint(desktop) {
        padding-right: 25rem;
      }
      @include breakpoint(desktop--Large) {
        padding-right: 22rem;
      }
    }

    &_text-2 {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      padding-right: 27rem;
      line-height: 2.6rem;

      @include breakpoint(desktop--Small) {
        padding-right: 21rem;
      }
      @include breakpoint(ipad--Landscape) {
        padding-right: 12rem;
      }

      @include breakpoint(tablet) {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-right: 5rem;
      }

      @include breakpoint(iPhone) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding-right: 3rem;
      }

      @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding-right: 3rem;
      }

      @include breakpoint(mobile--Smallest) {
        padding-right: 1.5rem;
      }

      @include breakpoint(desktop) {
        padding-right: 25rem;
      }
      @include breakpoint(desktop--Large) {
        padding-right: 20rem;
      }
      @include breakpoint(desktop--Big) {
        padding-right: 21rem;
      }
    }
  }

  img {
    margin-top: -3rem;
    z-index: 2;

    @include breakpoint(ipad) {
      margin-left: -6rem;
    }

    @include breakpoint(iPhone) {
      width: 20rem;
      margin: 0 auto;
      padding-bottom: 5rem;
    }
    @include breakpoint(mobile) {
      width: 20rem;
      margin: 0 auto;
      padding-bottom: 5rem;
    }

    @include breakpoint(desktop) {
      width: 80rem;
    }
  }
}

.main_div-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22rem;
  padding-bottom: 27rem;

  @include breakpoint(desktop--Small) {
    margin-left: 22rem;
  }
  @include breakpoint(ipad--Landscape) {
    margin-left: 9rem;
  }
  @include breakpoint(tablet) {
    margin-left: -3rem;
  }

  @include breakpoint(iPhone) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 5rem;
    margin-left: 0;
    padding-bottom: 10rem;
  }

  @include breakpoint(mobile) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 5rem;
    margin-left: 0;
    padding-bottom: 10rem;
  }

  @include breakpoint(desktop) {
    padding-top: 7rem;
    margin-left: 20rem;
  }
  @include breakpoint(desktop--Large) {
    padding-top: 9rem;
  }
  @include breakpoint(desktop--Biggest) {
    margin-left: 13rem;
  }

  &_box {
    padding-right: 11rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @include breakpoint(desktop--Small) {
      padding-right: 10rem;
    }

    @include breakpoint(ipad--Landscape) {
      padding-right: 9rem;
    }

    @include breakpoint(tablet) {
      padding-right: 7rem;
    }
    @include breakpoint(ipad) {
      margin-left: 0;
      padding-right: 5rem;
    }

    @include breakpoint(iPhone) {
      padding-right: 0;
      margin-top: 1rem;
    }

    @include breakpoint(mobile) {
      padding-right: 0;
      margin-top: 1rem;
    }

    &_heading {
      color: $color-white;
      font-family: $font-tr-rg;
      font-size: 3rem;
      padding-bottom: 1.5rem;
      padding-left: 5.9rem;
      text-align: left;
      letter-spacing: 0.02rem;

      @include breakpoint(tablet) {
        font-size: 2.5rem;
        padding-left: 11rem;
      }

      @include breakpoint(iPhone) {
        display: none;
      }

      @include breakpoint(mobile) {
        display: none;
      }
      @include breakpoint(desktop) {
        padding-left: 8.5rem;
      }
      @include breakpoint(desktop--Biggest) {
        padding-left: 14.5rem;
      }
    }

    &_heading-mobile {
      display: none;
      color: $color-white;
      font-family: $font-tr-rg;
      font-size: 1.9rem;
      padding-bottom: 0.3rem;
      padding-left: 5rem;
      padding-top: 4rem;
      text-align: left;
      letter-spacing: 0.02rem;

      @include breakpoint(iPhone) {
        display: block;
        padding-left: 9rem;
      }

      @include breakpoint(mobile) {
        display: block;
        padding-left: 6rem;
      }

      @include breakpoint(mobile--Small) {
        padding-left: 5rem;
      }
      @include breakpoint(mobile--Smallest) {
        padding-left: 5.3rem;
      }
    }
    &_heading-mobilefirst {
      color: $color-yellow;
    }

    &_heading-mobilesecond {
      color: $color-yellow;
    }

    &_text {
      color: $color-white;
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      text-align: right;
      line-height: 2.6rem;

      @include breakpoint(tablet) {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      @include breakpoint(iPhone) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 0 6.2rem 1rem 0;
      }

      @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 0 5rem 1rem 0;
      }
    }

    &_ellipsebox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 28rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 1.5rem;

      @include breakpoint(tablet) {
        margin-left: 31rem;
      }

      @include breakpoint(iPhone) {
        margin-left: 26.5rem;
        padding-top: 0.5rem;
      }

      @include breakpoint(mobile) {
        margin-left: 24.5rem;
        padding-top: 0.5rem;
      }
      @include breakpoint(mobile--Small) {
        margin-left: 22.7rem;
      }
      @include breakpoint(mobile--Smallest) {
        margin-left: 23rem;
      }
      @include breakpoint(desktop) {
        margin-left: 30rem;
      }
      @include breakpoint(desktop--Biggest) {
        margin-left: 36.5rem;
      }
    }

    &_ellipse {
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      background-color: $color-yellow;

      @include breakpoint(iPhone) {
        width: 0.9rem;
        height: 0.9rem;
      }

      @include breakpoint(mobile) {
        width: 0.9rem;
        height: 0.9rem;
      }
    }
    &_text-3 {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2.2rem;
      padding-left: 1.5rem;

      @include breakpoint(tablet) {
        font-size: 1.5rem;
      }

      @include breakpoint(iPhone) {
        font-size: 1.3rem;
        padding-left: 1.2rem;
      }

      @include breakpoint(mobile) {
        font-size: 1.3rem;
        padding-left: 1.2rem;
      }
    }
  }

  img.martian {
    @include breakpoint(tablet) {
      width: 28rem;
    }

    @include breakpoint(iPhone) {
      width: 20rem;
      margin: 0 auto;
    }

    @include breakpoint(mobile) {
      width: 20rem;
      margin: 0 auto;
    }
    @include breakpoint(desktop) {
      width: 34rem;
    }
  }
}

.Our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 9rem;

  @include breakpoint(desktop--Small) {
    padding-bottom: 8rem;
  }

  @include breakpoint(iPhone) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  @include breakpoint(mobile) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  &_heading {
    color: $color-white;
    font-family: $font-tr-bd;
    font-size: 5.5rem;
    padding-left: 7rem;
    -ms-flex-item-align: center;
    align-self: center;
    letter-spacing: 0.02rem;

    @include breakpoint(iPhone) {
      font-size: 4rem;
      padding-left: 0;
      padding-top: 1.3rem;
    }

    @include breakpoint(mobile) {
      font-size: 4rem;
      padding-left: 0;
      padding-top: 1.3rem;
    }
  }
  &_sub-span {
    color: $color-yellow;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
  }

  img {
    width: 15rem;

    @include breakpoint(iPhone) {
      width: 12rem;
      margin: 0 auto;
    }

    @include breakpoint(mobile) {
      width: 12rem;
      margin: 0 auto;
    }
  }
}

.Team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 17rem;

  @include breakpoint(ipad--Landscape) {
    margin-bottom: 15rem;
  }

  @include breakpoint(iPhone) {
    margin-bottom: 18.5rem;
  }

  @include breakpoint(mobile) {
    margin-bottom: 18.5rem;
  }

  @include breakpoint(mobile--Smallest) {
    margin-bottom: 9rem;
  }

  &_Aleksandar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 22rem;

    @include breakpoint(desktop--Small) {
      margin-left: 24rem;
    }
    @include breakpoint(ipad--Landscape) {
      margin-left: 14rem;
    }

    @include breakpoint(tablet) {
      margin-left: 4rem;
    }
    @include breakpoint(ipad) {
      margin-left: 4rem;
    }

    @include breakpoint(iPhone) {
      margin-left: 0;
    }

    @include breakpoint(mobile) {
      margin-left: 0;
    }

    &_name {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2.4rem;
      letter-spacing: 0.02rem;
      padding-top: 3.7rem;
      padding-bottom: 0.8rem;

      @include breakpoint(iPhone) {
        font-size: 1.1rem;
      }

      @include breakpoint(mobile) {
        font-size: 1.1rem;
      }
    }
    &_title {
      color: rgba(255, 255, 255, 0.7);
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;

      @include breakpoint(iPhone) {
        font-size: 0.9rem;
      }

      @include breakpoint(mobile) {
        font-size: 0.9rem;
      }
    }

    img {
      width: 15rem;

      @include breakpoint(iPhone) {
        width: 8rem;
      }

      @include breakpoint(mobile) {
        width: 8rem;
      }
    }
  }

  &_Milena {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 24rem;

    @include breakpoint(ipad--Landscape) {
      margin-right: 14rem;
    }

    @include breakpoint(tablet) {
      margin-right: 6rem;
    }
    @include breakpoint(ipad) {
      margin-right: 5rem;
    }

    @include breakpoint(iPhone) {
      margin-right: 1.3rem;
    }

    @include breakpoint(mobile) {
      margin-right: 1.3rem;
    }
    @include breakpoint(mobile--Smallest) {
      margin-right: 1.5rem;
    }

    &_name {
      color: $color-white;
      font-family: "Roboto";
      font-size: 2.4rem;
      letter-spacing: 0.02rem;
      padding-top: 3.7rem;
      padding-bottom: 0.8rem;
      padding-left: 2rem;

      @include breakpoint(iPhone) {
        font-size: 1.1rem;
        padding-left: 0;
      }

      @include breakpoint(mobile) {
        font-size: 1.1rem;
      }
      @include breakpoint(mobile--Smallest) {
        padding-left: 1rem;
      }
    }
    &_title {
      color: rgba(255, 255, 255, 0.7);
      font-family: "Roboto";
      font-size: 1.8rem;
      letter-spacing: 0.02rem;
      padding-left: 2rem;

      @include breakpoint(iPhone) {
        font-size: 0.9rem;
        padding-left: 0;
      }

      @include breakpoint(mobile) {
        font-size: 0.9rem;
      }
      @include breakpoint(mobile--Smallest) {
        padding-left: 1rem;
      }
    }
  }
  a {
    text-decoration: none;
  }

  img {
    width: 15rem;

    @include breakpoint(iPhone) {
      width: 8rem;
    }

    @include breakpoint(mobile) {
      width: 8rem;
    }
  }
}
