.Aleksandar_bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: $color-footer-text;
  padding: 5rem 25rem 1rem 24rem;

  @include breakpoint(desktop--Small) {
    padding: 8.2rem 20rem 7rem 24rem;
  }
  @include breakpoint(ipad--Landscape) {
    padding: 7rem 15rem 5rem 11.5rem;
  }

  @include breakpoint(tablet) {
    padding: 6rem 8rem 2rem 7rem;
  }

  @include breakpoint(iPhone) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10%, #322b6c),
      color-stop(70%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 10%,
      #131c6d 70%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  @include breakpoint(desktop) {
    padding: 5rem 22rem 5rem 26rem;
  }
  @include breakpoint(desktop--Large) {
    padding: 5rem 20rem 5rem 27rem;
  }

  @include breakpoint(desktop--Biggest) {
    padding: 5rem 20rem 5rem 29rem;
  }

  img {
    width: 15rem;
    -ms-flex-item-align: start;
    align-self: flex-start;

    @include breakpoint(iPhone) {
      width: 6.2rem;
      margin-left: 17.7rem;
      padding-top: 0.5rem;
    }

    @include breakpoint(mobile) {
      width: 6.2rem;
      margin-left: 15.5rem;
      padding-top: 0.5rem;
    }
    @include breakpoint(mobile--Small) {
      margin-left: 15rem;
      margin-top: 0.5rem;
    }
  }

  &_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 1.8rem;
    color: $color-white;
    padding-left: 7rem;
    padding-right: 8rem;
    padding-bottom: 1rem;
    text-align: justify;

    @include breakpoint(desktop--Small) {
      padding-left: 4rem;
      padding-right: 9rem;
      padding-bottom: 0;
    }
    @include breakpoint(ipad--Landscape) {
      padding-left: 3rem;
      padding-right: 1.4rem;
    }

    @include breakpoint(tablet) {
      padding-left: 4rem;
      padding-right: 0;
    }

    @include breakpoint(iPhone) {
      font-size: 1.3rem;
      padding-left: 5.2rem;
      padding-right: 5.2rem;
      padding-top: 1.7rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.3rem;
      padding-left: 3.1rem;
      padding-right: 3.1rem;
      padding-top: 1.3rem;
    }
    @include breakpoint(desktop) {
      padding-right: 11rem;
      padding-left: 4rem;
    }
    @include breakpoint(desktop--Large) {
      padding-right: 9.5rem;
    }
    @include breakpoint(desktop--Big) {
      padding-left: 5rem;
    }

    p {
      padding-bottom: 2rem;

      @include breakpoint(desktop--Small) {
        padding-bottom: 2.8rem;
        line-height: 2.4rem;
      }
      @include breakpoint(tablet) {
        padding-bottom: 2rem;
        line-height: normal;
      }
    }
  }
}

.tekstovi_autora {
  font-family: $font-tr-bd;
  font-size: 1.8rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: $color-footer-text;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;

  @include breakpoint(iPhone) {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5.2rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3.1rem;
  }
}

//    SLIDER

.slider-biography {
  margin-left: 11.1rem;
  height: 68rem;

  @include breakpoint(desktop--Small) {
    margin-left: 9.6rem;
  }
  @include breakpoint(ipad--Landscape) {
    margin-left: 5.2rem;
  }
  @include breakpoint(tablet) {
    margin-left: 8.3rem;
  }
  @include breakpoint(ipad) {
    margin-left: 7.5rem;
  }

  @include breakpoint(iPhone) {
    margin-left: 0;
    margin-top: 0;
  }

  @include breakpoint(mobile) {
    margin-left: 0;
    margin-top: 0;
  }
  @include breakpoint(desktop) {
    margin-left: 11.2rem;
  }
  @include breakpoint(desktop--Large) {
    margin-left: 11.3rem;
  }
  @include breakpoint(desktop--Biggest) {
    margin-left: 11rem;
  }
}

.container_tekstovi-2 .slick-next {
  right: 115px;

  @include breakpoint(desktop--Small) {
    right: 100px;
  }
  @include breakpoint(ipad--Landscape) {
    right: 60px;
  }
  @include breakpoint(tablet) {
    top: 710px;
    right: 95px;
  }
  @include breakpoint(ipad) {
    right: 85px;
  }
  @include breakpoint(desktop) {
    top: 800px;
    right: 130px;
  }
  @include breakpoint(desktop--Large) {
    top: 870px;
    right: 140px;
  }
  @include breakpoint(desktop--Big) {
    top: 890px;
    right: 150px;
  }
  @include breakpoint(desktop--Biggest) {
    top: 1070px;
    right: 170px;
  }
}

.container_tekstovi-2 .slick-prev {
  left: 970px;

  @include breakpoint(desktop--Small) {
    left: 930px;
  }
  @include breakpoint(ipad--Landscape) {
    left: 770px;
  }

  @include breakpoint(tablet) {
    top: 710px;
    left: 480px;
  }
  @include breakpoint(ipad) {
    left: 460px;
  }
  @include breakpoint(desktop) {
    top: 800px;
    left: 1035px;
  }
  @include breakpoint(desktop--Large) {
    top: 870px;
    left: 1105px;
  }
  @include breakpoint(desktop--Big) {
    top: 890px;
    left: 1150px;
  }
  @include breakpoint(desktop--Biggest) {
    top: 1070px;
    left: 1420px;
  }
}

.div-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    position: relative;

    &_block {
      position: absolute;
      margin-top: -4.8rem;
      background: transparent;

      @include breakpoint(iPhone) {
        margin-top: -7rem;
      }

      &_date {
        width: 5.8rem;
        height: 4.8rem;
        background-color: $color-violet-transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint(iPhone) {
          width: 8.5rem;
          height: 7rem;
        }

        @include breakpoint(mobile) {
          width: 8.5rem;
          height: 7rem;
        }

        &_number {
          color: $color-white;
          font-family: $font-tr-bd;
          font-size: 2.5rem;

          @include breakpoint(iPhone) {
            font-size: 3.6rem;
          }

          @include breakpoint(mobile) {
            font-size: 3.6rem;
          }
        }

        &_month {
          color: $color-white;
          font-family: $font-tr;
          text-transform: uppercase;

          @include breakpoint(iPhone) {
            font-size: 1.6rem;
          }


          @include breakpoint(mobile) {
            font-size: 1.6rem;
          }
        }
      }

      &_blog {
        width: 5.8rem;
        height: 1.6rem;
        background-color: $color-black;
        color: $color-white;
        font-family: $font-tr-rg;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(iPhone) {
          width: 8.5rem;
          height: 2.8rem;
          font-size: 1.3rem;
        }

        @include breakpoint(mobile) {
          width: 8.5rem;
          height: 2.8rem;
          font-size: 1.3rem;
        }
      }

      &_name {
        width: 5.8rem;
        height: 4.8rem;
        font-family: "Roboto";
        font-size: 1.1rem;
        text-align: right;
        padding-top: 0.9rem;
        color: $color-black;

        @include breakpoint(iPhone) {
          font-size: 1.3rem;
          width: 8.5rem;
        }

        @include breakpoint(mobile) {
          font-size: 1.3rem;
          width: 8.5rem;
        }
      }

      &_text {
        width: 30rem;

        @include breakpoint(ipad--Landscape) {
          width: 27.5rem;
        }

        @include breakpoint(iPhone) {
          width: 35rem;
        }

        @include breakpoint(mobile) {
          width: 35rem;
        }
        @include breakpoint(mobile--Small) {
          width: 34rem;
        }

        &_heading {
          font-family: "Roboto";
          font-weight: 500;
          color: $color-footer-text;
          font-size: 1.4rem;
          padding-left: 9rem;
          padding-top: 1.6rem;
          padding-bottom: 1.2rem;

          @include breakpoint(ipad--Landscape) {
            font-size: 1.3rem;
            padding-left: 7.5rem;
          }

          @include breakpoint(iPhone) {
            font-size: 1.6rem;
            padding-left: 12rem;
          }

          @include breakpoint(mobile) {
            font-size: 1.6rem;
            padding-left: 12rem;
          }
          @include breakpoint(mobile--Small) {
            padding-left: 11rem;
          }
          @include breakpoint(desktop) {
            padding-left: 8rem;
          }
        }

        &_par {
          font-family: "Roboto";
          color: $color-darkgrey-text;
          font-size: 1.05rem;
          padding-left: 9rem;

          @include breakpoint(ipad--Landscape) {
            padding-left: 7.5rem;
          }

          @include breakpoint(iPhone) {
            font-size: 1.3rem;
            padding-left: 12rem;
          }

          @include breakpoint(mobile) {
            font-size: 1.3rem;
            padding-left: 12rem;
          }
          @include breakpoint(mobile--Small) {
            padding-left: 11rem;
          }
          @include breakpoint(desktop) {
            padding-left: 8rem;
          }
        }
      }
    }
    img {
      width: 30rem;

      @include breakpoint(ipad--Landscape) {
        width: 27rem;
      }

      @include breakpoint(iPhone) {
        width: 41.4rem;
      }

     @include breakpoint (iPhoneS) {
      width: 41.2rem;
      }

      @include breakpoint(mobile) {
        width: 37.5rem;
      }
      @include breakpoint(mobile--Small) {
        width: 36rem;
      }

      @include breakpoint(mobile--Smallest) {
        width: 36.4rem;
      }

      @include breakpoint(desktop) {
        width: 29rem;
      }
    }
  }
}

//   SLIDER - END

.line {
  border: 0.625339px solid #e5e5e5;
  width: 109rem;
  margin-top: 25rem;
  margin-left: 12.8rem;

  @include breakpoint(desktop--Small) {
    width: 104rem;
    margin-left: 12rem;
  }
  @include breakpoint(ipad--Landscape) {
    width: 90rem;
    margin-left: 6rem;
  }

  @include breakpoint(tablet) {
    margin-top: 20rem;
    width: 63rem;
    margin-left: 8.5rem;
  }
  @include breakpoint(ipad) {
    margin-left: 7rem;
  }

  @include breakpoint(iPhone) {
    display: none;
  }

  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(desktop) {
    width: 106rem;
    margin-top: 25rem;
  }
  @include breakpoint(desktop--Large) {
    width: 104rem;
  }
  @include breakpoint(desktop--Biggest) {
    width: 105rem;
  }
}

.hidden {

  @include breakpoint(iPhone) {
    display: none;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
