.Aleksandar_bio {
  display: flex;
  background-color: $color-footer-text;
  padding: 5rem 25rem 3rem 25rem;

  @include breakpoint(mobile) {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  @include breakpoint(mobile--Small) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10%, #322b6c),
      color-stop(70%, #131c6d),
      color-stop(100%, #b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 10%,
      #131c6d 70%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    
  }

  img {
    align-self: flex-start;

    @include breakpoint(mobile--Small) {
      width: 6.2rem;
      margin-left: 15rem;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 1.8rem;
    color: $color-white;
    padding-left: 5rem;
    padding-right: 9rem;
    text-align: justify;

    @include breakpoint(mobile--Small) {
      font-size: 1.3rem;
      padding-left: 3.1rem;
      padding-right: 3.1rem;
      padding-top: 1.3rem;
    }

    p {
      padding-bottom: 2rem;
      // @include breakpoint(mobile--Small) {
      //   padding-bottom: 1.9rem; 
      // }
    }
  }
}

.tekstovi_autora {
  font-family: $font-tr-bd;
  font-size: 1.8rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: $color-footer-text;
  margin-top: 3.9rem;
  margin-bottom: 4.3rem;

  @include breakpoint(mobile--Small) {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3.1rem;
  }
}

//    SLIDER

.slider-biography {
  margin-left: 12.5rem;
  margin-top: 4.8rem;
  height: 66rem;

  @include breakpoint(desktop) {
    margin-left: 12rem;
  }

  @include breakpoint(desktop--Small) {
    margin-left: 10.5rem;
  }
  @include breakpoint(mobile) {
    margin-left: 9.5rem;
  }
  @include breakpoint(mobile--Small) {
    margin-left: 0;
    margin-top: 0;
  }
}

.container_tekstovi-2 .slick-next {
  right: 125px;

  @include breakpoint(desktop) {
    right: 120px;
  }
  @include breakpoint(desktop--Small) {
    right: 105px;
  }

  @include breakpoint(mobile) {
    right: 90px;
  }
}

.container_tekstovi-2 .slick-prev {
  left: 960px;

  @include breakpoint(desktop) {
    left: 940px;
  }
  @include breakpoint(desktop--Small) {
    left: 930px;
  }

  @include breakpoint(mobile) {
    left: 475px;
  }
}

.div-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    position: relative;

    &_block {
      position: absolute;
      margin-top: -4.8rem;
      background: transparent;
      @include breakpoint(mobile--Small) {
        margin-top: -7rem;
      }

      &_date {
        width: 5.8rem;
        height: 4.8rem;
        background-color: $color-violet-transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include breakpoint(mobile--Small) {
          width: 8.5rem;
          height: 7rem;
        }

        &_number {
          color: $color-white;
          font-family: $font-tr-bd;
          font-size: 2.5rem;
          @include breakpoint(mobile--Small) {
            font-size: 3.6rem;
          }
        }

        &_month {
          color: $color-white;
          font-family: $font-tr;
          text-transform: uppercase;
          @include breakpoint(mobile--Small) {
            font-size: 1.6rem;
          }
        }
      }

      &_blog {
        width: 5.8rem;
        height: 1.6rem;
        background-color: $color-black;
        color: $color-white;
        font-family: $font-tr-rg;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(mobile--Small) {
          width: 8.5rem;
          height: 2.8rem;
          font-size: 1.3rem;
        }
      }

      &_name {
        width: 5.8rem;
        height: 4.8rem;
        font-family: "Roboto";
        font-size: 1.1rem;
        text-align: right;
        padding-top: 0.9rem;
        color: $color-black;
        @include breakpoint(mobile--Small) {
          font-size: 1.3rem;
          width: 8.5rem;
        }
      }

      &_text {
        width: 29rem;
        @include breakpoint(mobile--Small) {
          width: 33rem;
        }

        &_heading {
          font-family: "Roboto";
          font-weight: 500;
          color: $color-footer-text;
          font-size: 1.4rem;
          padding-left: 8rem;
          padding-top: 1.6rem;
          padding-bottom: 1.2rem;
          @include breakpoint(mobile--Small) {
            font-size: 1.6rem;
            padding-left: 10.5rem;
          }
        }

        &_par {
          font-family: "Roboto";
          color: $color-darkgrey-text;
          font-size: 1.05rem;
          padding-left: 8rem;
          @include breakpoint(mobile--Small) {
            font-size: 1.3rem;
            padding-left: 10.5rem;
          }
        }
      }
    }
    img {
      @include breakpoint(mobile--Small) {
        width: 36rem;
      }
    }
  }
}

//   SLIDER - END

.line {
  border: 0.625339px solid #e5e5e5;
  width: 109rem;
  margin-top: 25rem;
  margin-left: 12.8rem;

  @include breakpoint(desktop) {
    width: 107rem;
  }

  @include breakpoint(desktop--Small) {
    width: 104rem;
  }

  @include breakpoint(mobile) {
    width: 60rem;
    margin-left: 10rem;
  }

  @include breakpoint(mobile--Small) {
    display: none;
  }
}

.hidden {
  @include breakpoint(mobile--Small) {
    display: none;
  }
}
