

//  STYLE FOR PAGES BLOG, PRESS RELEASE, AND IN THE MEDIA


//    SLIDER

.slider-blog {
    margin-left: 12.5rem;
    margin-top: 4.8rem;
    height: 105rem;
  
  
    @include breakpoint(desktop--Small) {
      margin-left: 10.5rem;
    }
    @include breakpoint (ipad--Landscape) {
      margin-left: 4.4rem;
    }
    @include breakpoint(tablet) {
      margin-left: 7.8rem;
    }
    @include breakpoint(ipad) {
      margin-left: 7rem;
    }
    @include breakpoint(mobile) {
      margin-left: 0;
      margin-top: 0;
    }
    @include breakpoint(desktop) {
      margin-left: 11.5rem;
    }
    @include breakpoint (desktop--Large) {
      margin-left: 11.1rem;
    }
    
  }

  .container_tekstovi-1 {
      
    @include breakpoint(mobile) {
        margin-top: 3rem;
    }

  }
  
  .container_tekstovi-1 .slick-next {
    right: 125px;
    top: 1080px;
   
  
    @include breakpoint(desktop--Small) {
      top: 1090px;
      right: 105px;
    }
    @include breakpoint (ipad--Landscape) {
      right: 45px;
    }
    @include breakpoint(tablet) {
      right: 75px;
    }
    @include breakpoint(ipad) {
      right: 70px;
    }
    @include breakpoint(desktop) {
      top: 1190px;
      right: 130px; 
    }
    @include breakpoint (desktop--Large) {
      top: 1290px;
      right: 140px;
    }
  
  }
  
  .container_tekstovi-1 .slick-prev {
    left: 960px;
    top: 1080px;
   

    @include breakpoint(desktop--Small) {
      top: 1090px;
      left: 930px;
    }
    @include breakpoint (ipad--Landscape) {
      left: 790px;
    }

    @include breakpoint(tablet) {
      left: 510px;
    }
    @include breakpoint(ipad) {
      left: 490px;
    }
    @include breakpoint(desktop) {
      top: 1190px;
      left: 1035px;
    }
    @include breakpoint (desktop--Large) {
      top: 1290px;
      left: 1105px;
    }
  
  }
  
  .div-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    a {
      text-decoration: none;
    }
  
    &_wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      position: relative;
  
      &_block {
        position: absolute;
        margin-top: -4.8rem;
        background: transparent;

        @include breakpoint(mobile) {
          margin-top: -7rem;
        }
  
        &_date {
          width: 5.8rem;
          height: 4.8rem;
          background-color: $color-violet-transparent;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @include breakpoint(mobile) {
            width: 8.5rem;
            height: 7rem;
          }
  
          &_number {
            color: $color-white;
            font-family: $font-tr-bd;
            font-size: 2.5rem;
            @include breakpoint(mobile) {
              font-size: 3.6rem;
            }
          }
  
          &_month {
            color: $color-white;
            font-family: $font-tr;
            text-transform: uppercase;
            @include breakpoint(mobile) {
              font-size: 1.6rem;
            }
          }
        }
  
        &_blog {
          width: 5.8rem;
          height: 1.6rem;
          background-color: $color-black;
          color: $color-white;
          font-family: $font-tr-rg;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          @include breakpoint(mobile) {
            width: 8.5rem;
            height: 2.8rem;
            font-size: 1.3rem;
          }
        }
  
        &_name {
          width: 5.8rem;
          height: 4.8rem;
          font-family: "Roboto";
          font-size: 1.1rem;
          text-align: right;
          padding-top: 0.9rem;
          color: $color-black;
          @include breakpoint(mobile) {
            font-size: 1.3rem;
            width: 8.5rem;
          }
        }
  
        &_text {
          width: 29rem;
          @include breakpoint(mobile) {
            width: 33rem;
          }
          
  
          &_heading {
            font-family: "Roboto";
            font-weight: 500;
            color: $color-footer-text;
            font-size: 1.4rem;
            padding-left: 8rem;
            padding-top: 1.6rem;
            padding-bottom: 1.2rem;

            @include breakpoint(mobile) {
              font-size: 1.6rem;
              padding-left: 10.5rem;
            }
          }
  
          &_par {
            font-family: "Roboto";
            color: $color-darkgrey-text;
            font-size: 1.05rem;
            padding-left: 8rem;
            @include breakpoint(mobile) {
              font-size: 1.3rem;
              padding-left: 10.5rem;
            }
          }
        }
      }
      img {

        @include breakpoint(mobile) {
          width: 37.5rem;
        }
        @include breakpoint(mobile--Small) {
          width: 36rem;
        }
        
        @include breakpoint(mobile--Smallest) {
          width: 36.4rem;
        }

        @include breakpoint (desktop) {
          width: 28.4rem;
        }
        
      }
    }
  }

  //   SLIDER - END
  
  .line-1 {
    border: 0.625339px solid #e5e5e5;
    width: 109rem;
    margin-top: 15rem;
    margin-left: 12.8rem;

  
    @include breakpoint(desktop--Small) {
      width: 104rem;
      margin-top: 19rem;
    }
    @include breakpoint (ipad--Landscape) {
      width: 90rem;
      margin-left: 6rem; 
    }

    @include breakpoint(tablet) {
      width: 63rem;
      margin-left: 8.5rem;
    }
    @include breakpoint(ipad) {
      
      margin-left: 7rem;
    }

  
    @include breakpoint(mobile) {
      display: none;
    }
    @include breakpoint(desktop) {
      width: 106rem;
      margin-top: 19rem;
    }
    @include breakpoint (desktop--Large) {
      width: 104rem;
    }
    
  }
  
  .hidden {
    @include breakpoint(mobile) {
      display: none;
    }
  }
  
