//  NAVIGATION AND BANNER

.heading {
  display: flex;
  justify-content: center;
  background-color: $color-footer-text;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 56rem;
  margin-top: 5.6rem;
  margin-bottom: 1rem;

  img,
  .mobile-twitter {
    margin-left: 2rem;
  }
  
  img:hover {
    cursor: pointer;
  }

  &_heading {
    color: $color-white;
    font-family: $font-tr;
    font-size: 4rem;
    margin: 0 auto;

    @include breakpoint(mobile--Small) {
      font-size: 2rem;
      padding-left: 3rem;
     
    }
  }

  &_line-2 {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 56rem;
    justify-content: center;
    margin-top: 2.3rem;
    margin-bottom: 1.7rem;

    @include breakpoint(mobile--Small) {
      border: 0.3px solid rgba(255, 255, 255, 0.3);
      width: 30rem;
      margin-left: 3rem;
      
    }
  }

  &_name-and-links {
    display: flex;
    justify-content: space-between;

    @include breakpoint(mobile--Small) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    
  }

  &_name {
    color: rgba(255, 255, 255, 0.9);
    font-family: $font-tr-rg;
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
    margin-bottom: 0.3rem;

    @include breakpoint(mobile--Small) {
      font-size: 1.2rem;
    }
  }

  &_date {
    color: rgba(255, 255, 255, 0.5);
    font-family: $font-tr-rg;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }

 
}

//  TEXT

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -13rem;

  @include breakpoint(mobile--Small) {
    margin-bottom: 7rem;
  }

  img {
    position: relative;

    @include breakpoint(mobile--Small) {
      width: 30rem;
      margin-bottom: 2rem;
     
      
       
    }
  }

  &_info {
    position: absolute;
    top: -3.6rem;
    left: 25.9rem;

    @include breakpoint(mobile--Small) {
      display: none;
    }
  }

  &_paragraph-onespace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.5rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;
    padding-bottom: 2rem;

    @include breakpoint(desktop) {
      font-size: 1.7rem;
    }

    @include breakpoint(desktop--Small) {
      font-size: 1.9rem;
    }

    @include breakpoint(mobile--Small) {
      font-size: 1.4rem;
      width: 36.4rem;
      padding-left: 3rem;
      padding-right: 3rem;
      line-height: 18px;
     letter-spacing: .04rem;
     
    }
  }

  &_paragraph-doublespace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.5rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;
    padding-bottom: 4rem;

    @include breakpoint(desktop) {
      font-size: 1.7rem;
    }
    @include breakpoint(desktop--Small) {
      font-size: 1.9rem;
    }
    @include breakpoint(mobile--Small) {
      font-size: 1.4rem;
      width: 36.4rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 2rem;
      line-height: 18px;
      letter-spacing: .04rem;
      
      
    }
  }

  &_paragraph-nospace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.5rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;

    @include breakpoint(desktop) {
      font-size: 1.7rem;
    }
    @include breakpoint(desktop--Small) {
      font-size: 1.9rem;
    }
    @include breakpoint(mobile--Small) {
      font-size: 1.4rem;
      width: 36.4rem;
      padding-left: 3rem;
      padding-right: 3rem;
      line-height: 18px;
     letter-spacing: .04rem;
      

      
    }
  }

  &_paragraph-topbottomspace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.5rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint(desktop) {
      font-size: 1.7rem;
    }
    @include breakpoint(desktop--Small) {
      font-size: 1.9rem;
    }



  }
}

.Networks-nodisplay {
  @include breakpoint(mobile--Small)  {
  display: none;
}
}

.mobile-displaynone {
  @include breakpoint(mobile--Small) {
    display: none;

  }
}
.desktop-twitter {
  fill: $color-white;
}
.mobile-twitter {
  @include breakpoint(mobile--Small) {
    fill: #c8c7d1;
    
}
}