.gradient-effect-3 {
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(20%, #322b6c),
    color-stop(53%, #131c6d),
    to(#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 53%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(mobile) {
    background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      color-stop(10%, #322b6c),
      color-stop(65%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 10%,
      #131c6d 65%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

input[type="submit"] {
  background-color: $color-submit;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  color: white;
  padding: 1.3rem 0rem;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 6rem;
  cursor: pointer;

  @include breakpoint(desktop--Small) {
    margin-bottom: 16.3rem;
  }

  @include breakpoint(mobile) {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  @include breakpoint(mobile--Small) {
    margin-top: 2rem;
    margin-bottom: 3.7rem;

  }
  @include breakpoint(mobile--Smallest) {
    margin-bottom: 2rem;
  }
}

input[type="submit"]:hover {
  background-color: darken($color: $color-submit, $amount: 4);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 19rem;
  margin-top: 6.8rem;

  @include breakpoint(desktop--Small) {
    margin-top: 11.5rem;
  }

  @include breakpoint(tablet) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }


  &_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    width: 30%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Roboto";
    font-size: 1.2rem;

    @include breakpoint(tablet) {
      width: 50%;
      margin: 9rem auto;
    }

    @include breakpoint(mobile) {
      width: 70%;
      margin: 1rem auto;
    }
    @include breakpoint(mobile--Smallest)  {
      margin: 0 auto;
    }
  }

  &_heading {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 2.5rem;
    color: $color-white;
    padding-bottom: 5rem;

    @include breakpoint(mobile) {
      padding-top: 0;
      padding-bottom: 3rem;
      font-size: 1.8rem;
    }
    @include breakpoint(mobile--Smallest) {
      padding-bottom: 1.5rem;
    }
  }

  &_data {
    width: 100%;
    border-bottom: 1px $color-white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 25px;
    resize: vertical;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 1.2rem;
    color: $color-white;

    @include breakpoint(mobile--Smallest) {
      margin-bottom: 18px;
    }

    &_email {
      width: 100%;
      border-bottom: 1px $color-white solid;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
      margin-bottom: 4.3rem;
      resize: vertical;
      background-color: transparent;
      font-family: "Roboto";
      font-size: 1.2rem;
      color: $color-white;

      @include breakpoint(mobile) {
        margin-bottom: 2.6rem;
      }
      @include breakpoint(mobile--Smallest) {
        margin-bottom: 1.8rem;
      }
    }

    &_message {
      width: 100%;
      border-bottom: 1px $color-white solid;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
      margin-bottom: 3rem;
      resize: vertical;
      background-color: transparent;
      max-height: 100px;
      min-height: 100px;
      font-family: "Roboto";
      font-size: 1.2rem;
      color: $color-white;

      @include breakpoint(mobile--Smallest) {
        width: 100%;
        border-bottom: 1px $color-white solid;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        margin-bottom: 0;
        resize: vertical;
        background-color: transparent;
        max-height: 70px;
        min-height: 70px;
        font-family: "Roboto";
        font-size: 1.2rem;
        color: $color-white;
      }
    }
  }

  img {
    padding-left: 20rem;
    z-index: 2;
    margin-top: -6rem;

    @include breakpoint(desktop) {
      padding-left: 17rem;
      margin-top: -18rem;
    }
    @include breakpoint(tablet) {
      margin-top: 2rem;
      padding-left: 0;
    }

    @include breakpoint(mobile) {
      width: 19.5rem;
      margin-left: 8.2rem;
      margin-top: 1.4rem;
      margin-bottom: 1rem;
    }
    @include breakpoint(mobile--Small) {
      margin-top: 4rem;
      
    }

    @include breakpoint(mobile--Smallest) {
      width: 16.2rem;
      margin-left: 9.9rem;
      margin-top: 0;
      margin-bottom: .7rem;
    }
    
  }
}
