.gradient-effect-3 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(57%, #131c6d),
    color-stop(100%,#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 57%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="submit"] {
  background-color: $color-submit;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  color: white;
  padding: 1.3rem 0rem;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 7rem;
  
  cursor: pointer;
 
}

input[type="submit"]:hover {
  background-color: darken($color: $color-submit, $amount: 4);
}

.contact {
  display: flex;
  margin-left: 22rem;
  margin-bottom: 4.5rem;
  
  
 
  

  &_container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 25%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Roboto";
    font-size: 1.2rem;
    
    
    
  }

  &_heading {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 2.5rem;
    color: $color-white;
    padding-bottom: 5rem;
    padding-top: 14rem;
    
  }

  &_data {
    width: 100%;
    border-bottom: 1px $color-white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 25px;
    resize: vertical;
    background-color: transparent;
    

    &_email {
    width: 100%;
    border-bottom: 1px $color-white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 4.3rem;
    resize: vertical;
    background-color: transparent;

    }

    &_message {
      width: 100%;
      border-bottom: 1px $color-white solid;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
      margin-bottom: 3rem;
      resize: vertical;
      background-color: transparent;
      max-height: 100px;
      min-height: 100px;
      
    }
  }

  img {
    padding-left: 20rem;
    margin-top: 6rem;
    z-index: 2;
    
  }
}
