.gradient-effect-3 {
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(20%, #322b6c),
    color-stop(53%, #131c6d),
    to(#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 53%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(mobile) {
    background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      color-stop(10%, #322b6c),
      color-stop(65%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 10%,
      #131c6d 65%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

input[type="submit"] {
  background-color: $color-submit;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  color: white;
  padding: 1.3rem 0rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;

  @include breakpoint(mobile) {    
    font-size: 1.3rem;
  }
  @include breakpoint (mobile--Smallest) {
    margin-top: 1rem;
  }
  
}

input[type="submit"]:hover {
  background-color: darken($color: $color-submit, $amount: 4);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 21rem;
  margin-top: 8rem;

  @include breakpoint (desktop--Small) {
    margin-top: 13rem;
  }

  @include breakpoint (ipad--Landscape) {
    margin-top: 5rem;
    margin-left: 11rem;
  }

  @include breakpoint(tablet) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }

  @include breakpoint (desktop) {
    margin-top: 12rem;
  }
  @include breakpoint (desktop--Large) {
    margin-top: 8rem;
  }

  &_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    width: 27%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Roboto";
    font-size: 1.2rem;
    margin-right: 16rem;

    @include breakpoint (desktop--Small) {
      width: 29%;
      margin-right: 13rem;
    }

    @include breakpoint (ipad--Landscape) {
      width: 34%;
      margin-right: 9rem;
    }

    @include breakpoint(tablet) {
      width: 39%;
      margin: 6rem auto;
    }

    @include breakpoint (ipad) {
      margin: 3rem auto;
    }

    @include breakpoint(mobile) {
      width: 70%;
      margin: 1rem auto;
      font-size: 1.3rem;
    }
    @include breakpoint(mobile--Small) {
      margin: 1rem auto;
    }
    @include breakpoint(mobile--Smallest)  {
      margin: 0 auto;
    }
    @include breakpoint (desktop) {
      width: 29%;
      margin-right: 12rem;
    }
  }

  &_heading {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 2.7rem;
    color: $color-white;
    padding-bottom: 5rem;
    letter-spacing: 0.1rem;

    @include breakpoint (ipad) {
      font-size: 2.6rem;
     
    }

    @include breakpoint(mobile) {
      padding-top: 0;
      padding-bottom: 3rem;
      font-size: 1.8rem;
    }
    @include breakpoint(mobile--Smallest) {
      padding-bottom: 2.5rem;
    }

    
  }

  &_data {
    width: 100%;
    border-bottom: 1px $color-white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-bottom: 25px;
    resize: vertical;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 1.2rem;
    color: $color-white;

    @include breakpoint(mobile--Smallest) {
      margin-bottom: 18px;
    }

    &_email {
      width: 100%;
      border-bottom: 1px $color-white solid;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
      margin-bottom: 4.3rem;
      resize: vertical;
      background-color: transparent;
      font-family: "Roboto";
      font-size: 1.2rem;
      color: $color-white;

      @include breakpoint(mobile) {
        margin-bottom: 3rem;
      }
      @include breakpoint(mobile--Smallest) {
        margin-bottom: 1.8rem;
      }
    }

    &_message {
      width: 100%;
      border-bottom: 1px $color-white solid;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
      margin-bottom: 3rem;
      resize: vertical;
      background-color: transparent;
      max-height: 100px;
      min-height: 100px;
      font-family: "Roboto";
      font-size: 1.2rem;
      color: $color-white;

      @include breakpoint(mobile--Smallest) {
        width: 100%;
        border-bottom: 1px $color-white solid;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        margin-bottom: 0;
        resize: vertical;
        background-color: transparent;
        max-height: 90px;
        min-height: 90px;
        font-family: "Roboto";
        font-size: 1.2rem;
        color: $color-white;
      }
      @include breakpoint(desktop) {
        margin-bottom: 5rem;
      }
    }
  }

  img {
    width: 48rem;
    z-index: 2;
    margin-top: -3rem;

    @include breakpoint (ipad--Landscape) {
      width: 43rem;
    }

    
    @include breakpoint(tablet) {
      width: 40rem;
      margin: 4rem auto;
    }
    @include breakpoint (ipad) {
      margin: 2rem auto;
    }

    @include breakpoint(mobile) {
      width: 19.5rem;
      margin: 0 auto;
      
    }

    @include breakpoint(mobile--Small) {
      width: 16.2rem;
    }

    @include breakpoint (mobile--Smallest) {
      width: 14rem;
    }

    @include breakpoint(desktop) {
      width: 49rem;
    }

    
    
    

    
    
  }
}
