// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.gradient-effect-1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(75%, #131c6d),
    to(#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 75%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(tablet) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10%, #322b6c),
      color-stop(65%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 10%,
      #131c6d 65%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include breakpoint(mobile--Small) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10%, #322b6c),
      color-stop(70%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 10%,
      #131c6d 70%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero {
  &_text {
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @include breakpoint(tablet) {
      margin-top: 3rem;
    }
    @include breakpoint(mobile--Smallest) {
      margin-top: 0.9rem;
    }

    &_heading {
      text-transform: uppercase;
      font-family: $font-tr-bd;
      font-size: 6.4rem;
      color: $color-white;
      letter-spacing: 0.2rem;
      margin-left: 16rem;
      z-index: 12;

      @include breakpoint(desktop--Small) {
        margin-left: 10rem;
        margin-top: 5rem;
      }

      @include breakpoint(tablet) {
        margin-left: 14rem;
      }

      @include breakpoint(mobile--Small) {
        font-size: 3.2rem;
        margin-left: 4.5rem;
        margin-top: .5rem;
      }
      @include breakpoint(mobile--Smallest) {
        font-size: 2.8rem;
        margin: 0 auto;
      }
    }
    &_sub {
      font-family: $font-rb;
      font-size: 2.1rem;
      color: $color-white;
      margin-top: 1rem;
      margin-left: 16.3rem;

      @include breakpoint(desktop--Small) {
        margin-left: 10.5rem;
      }

      @include breakpoint(tablet) {
        margin-left: 22rem;
      }
      @include breakpoint(mobile--Small) {
        font-size: 1.3rem;
        margin-left: 7.3rem;
      }
      @include breakpoint(mobile--Smallest) {
        margin-top: 0.5rem;
      }
    }
    &_sub-span {
      color: $color-yellow;
    }
  }

  &_img {
    &_stars {
      position: absolute;
      height: 31rem;
      top: 8rem;
      left: 88rem;

      @include breakpoint(desktop--Small) {
        height: 44rem;
        left: 68rem;
      }

      @include breakpoint(tablet) {
        display: none;
      }
      @include breakpoint(mobile--Small) {
        display: none;
      }
    }

    &_stars-mobile {
      display: none;

      @include breakpoint(mobile--Small) {
        display: block;
        margin: 2.5rem auto;
      }
      @include breakpoint(mobile--Smallest) {
        width: 26rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    &_sun {
      position: absolute;
      height: 30rem;
      top: 8rem;
      left: 95rem;

      @include breakpoint(desktop--Small) {
        left: 78rem;
        height: 43rem;
      }

      @include breakpoint(tablet) {
        width: 33.3rem;
        top: 29rem;
        left: 23rem;
      }

      @include breakpoint(mobile--Small) {
        width: 27rem;
        left: 4.8rem;
        top: 9rem;
      }
      @include breakpoint(mobile--Smallest) {
        width: 23rem;
        top: 2.5rem;
        left: 6.5rem;
      }
    }
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: $color-blue;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include breakpoint(desktop--Small) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  @include breakpoint(tablet) {
    display: none;
  }

  @include breakpoint(mobile--Small) {
    display: none;
  }

  &_copy {
    font-family: $font-tr-rg;
    font-size: 1.3rem;
    color: $color-blue;
  }

  &_policy {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.5rem;
    margin-left: 7rem;

    @include breakpoint(desktop--Small) {
      margin-left: 7rem;
    }
  }

  &_followus {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.5rem;
    margin-right: -24rem;

    @include breakpoint(desktop--Small) {
      margin-right: -20rem;
    }
  }

  &_img {
    margin-top: -0.5rem;
  }

  a {
    padding-left: 0.5rem;

    @include breakpoint(mobile--Small) {
      padding-left: 2rem;
    }
  }
}

.socials-mobile {
  display: none;

  @include breakpoint(tablet) {
    display: block;
    margin-top: 31rem;
    margin-bottom: 7.1rem;
    text-align: center;
  }

  @include breakpoint(mobile--Small) {
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  @include breakpoint(mobile--Smallest) {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  a {
    padding-left: 1.5rem;
    @include breakpoint(mobile--Smallest) {
      padding-left: 1rem;
    }
  }
}
