// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.gradient-effect-1 {
  height: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(75%, #131c6d),
    to(#b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 75%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(desktop--Small) {
    height: 100%;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, #322b6c),
      color-stop(50%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 20%,
      #131c6d 50%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include breakpoint(ipad--Landscape) {
    height: 100%;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(15%, #322b6c),
      color-stop(20%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 15%,
      #131c6d 20%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include breakpoint(tablet) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, #322b6c),
      color-stop(75%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 20%,
      #131c6d 75%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include breakpoint(mobile) {
    height: 100vh;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, #322b6c),
      color-stop(60%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 30%,
      #131c6d 60%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include breakpoint(desktop--Large) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(30%, #322b6c),
      color-stop(80%, #131c6d),
      to(#b1bff9)
    );
    background-image: linear-gradient(
      to bottom,
      #322b6c 30%,
      #131c6d 80%,
      #b1bff9 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero {
  &_text {
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @include breakpoint(tablet) {
      margin-top: 5rem;
    }
    @include breakpoint(mobile) {
      margin-top: 3rem;
    }
    @include breakpoint(mobile--Smallest) {
      margin-top: 3rem;
    }
    @include breakpoint(desktop) {
      margin-top: 15rem;
    }

    &_heading {
      text-transform: uppercase;
      font-family: $font-tr-bd;
      font-size: 6.4rem;
      color: $color-white;
      letter-spacing: 0.2rem;
      margin-left: 16rem;
      z-index: 12;

      @include breakpoint(desktop--Small) {
        margin-left: 11rem;
        margin-top: 5rem;
      }
      @include breakpoint(ipad--Landscape) {
        margin-top: 4rem;
        margin-left: 6rem;
        font-size: 5.2rem;
      }

      @include breakpoint(tablet) {
        margin-top: 5rem;
        margin-left: 18.5rem;
      }
      @include breakpoint(ipad) {
        margin-top: 2rem;
        margin-left: 17rem;
      }

      @include breakpoint(mobile) {
        font-size: 3.2rem;
        margin-left: 5rem;
        margin-top: 0;
      }

      @include breakpoint(mobile--Small) {
        margin-left: 4.5rem;
        margin-top: 0;
      }
      @include breakpoint(mobile--Smallest) {
        font-size: 2.8rem;
        margin: 0 auto;
      }
    }
    &_sub {
      font-family: $font-rb;
      font-size: 2.1rem;
      color: $color-white;
      margin-top: 1rem;
      margin-left: 16.3rem;

      @include breakpoint(desktop--Small) {
        margin-left: 11.5rem;
      }
      @include breakpoint(ipad--Landscape) {
        margin-left: 6.5rem;
      }

      @include breakpoint(tablet) {
        margin-left: 22.5rem;
      }
      @include breakpoint(ipad) {
        margin-left: 21rem;
      }
      @include breakpoint(mobile) {
        font-size: 1.3rem;
        margin-left: 7.3rem;
      }

      @include breakpoint(mobile--Smallest) {
        margin-top: 0.5rem;
      }
    }
    &_sub-span {
      color: $color-yellow;
    }
  }

  &_img {
    &_stars {
      position: absolute;
      height: 35rem;
      top: 7rem;
      left: 82rem;

      @include breakpoint(desktop--Small) {
        height: 44rem;
        left: 67rem;
      }
      @include breakpoint(ipad--Landscape) {
        height: 40rem;
        left: 48rem;
      }

      @include breakpoint(tablet) {
        height: 46rem;
        top: 36rem;
        left: 8rem;
      }
      @include breakpoint(ipad) {
        top: 30rem;
        left: 6.5rem;
      }

      @include breakpoint(mobile) {
        display: none;
      }
      @include breakpoint(desktop) {
        height: 46rem;
        left: 68rem;
      }
      @include breakpoint(desktop--Large) {
        height: 43rem;
        left: 68rem;
      }
      @include breakpoint (desktop--Big) {
        left: 69rem;
      }
    }

    &_stars-mobile {
      display: none;

      @include breakpoint(mobile) {
        display: block;
        margin-top: 2.5rem;
        margin-left: 3rem;
      }
      @include breakpoint(mobile--Small) {
        margin: 3rem auto;
      }

      @include breakpoint(mobile--Smallest) {
        width: 26rem;
        
        
      }
    }

    &_sun {
      position: absolute;
      height: 35rem;
      top: 7rem;
      left: 90rem;

      @include breakpoint(desktop--Small) {
        left: 77rem;
        height: 43rem;
      }
      @include breakpoint(ipad--Landscape) {
        left: 57rem;
        height: 40rem;
      }

      @include breakpoint(tablet) {
        height: 45rem;
        top: 36rem;
        left: 17.5rem;
      }
      @include breakpoint(ipad) {
        top: 30rem;
        left: 16rem;
      }

      @include breakpoint(mobile) {
        width: 29rem;
        left: 4.3rem;
        top: 7.7rem;
      }

      @include breakpoint(mobile--Small) {
        left: 4.2rem;
        top: 10rem;
      }
      @include breakpoint(mobile--Smallest) {
        width: 23rem;
        top: 5.2rem;
        left: 6.7rem;
      }
      @include breakpoint(desktop) {
        height: 45rem;
        left: 80rem;
      }

      @include breakpoint(desktop--Large) {
        height: 42rem;
        left: 79rem;
      }
      @include breakpoint (desktop--Big) {
        left: 80rem;
      }
    }
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: $color-blue;
  margin-top: 1rem;
  margin-bottom: 1.2rem;

  @include breakpoint(desktop--Small) {
    margin-top: 3rem;
    margin-bottom: 28.7rem;
  }
  @include breakpoint(ipad--Landscape) {
    margin-bottom: 65.2rem;
  }
  @include breakpoint(tablet) {
    margin-top: 12.2rem;
    margin-bottom: 3rem;
  }

  @include breakpoint(ipad) {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    
  }

  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(desktop) {
    margin-top: 6rem;
    margin-bottom: 3.2rem;
  }

  @include breakpoint(desktop--Large) {
    margin-top: 1.9rem;
    margin-bottom: 1rem;
  }

  @include breakpoint (desktop--Big) {
    margin-top: 2.3rem;
    margin-bottom: 1.5rem;
  }

  @include breakpoint(desktop--Biggest) {
    margin-bottom: 1.3rem;
  }

  &_copy {
    font-family: $font-tr-rg;
    font-size: 1.3rem;
    color: $color-blue;
  }

  &_policy {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.5rem;
    margin-left: 7rem;

    @include breakpoint(desktop--Small) {
      margin-left: 0;
    }
    @include breakpoint(desktop) {
      margin-left: 0;
    }
  }

  &_followus {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.5rem;
    margin-right: -24rem;

    
    @include breakpoint(ipad--Landscape) {
      margin-right: -15rem;
    }
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(desktop) {
      margin-right: -22rem;
    }

    
  }

  &_img {
    z-index: 222;
    margin-top: -0.5rem;

    img {
      width: 2.5rem;
      margin-left: 1rem;
    }
  }
}

.socials-mobile {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    margin-top: 1rem;
   
    margin-left: 8rem;
  }

  @include breakpoint(mobile--Small) {
    margin-bottom: 10.8rem;
    margin-left: 7.1rem;
  }
  @include breakpoint(mobile--Smallest) {
    
    margin-bottom: 3rem;
    margin-left: 7.9rem;
  }

  a {
    padding-left: 2rem;

    @include breakpoint(mobile--Smallest) {
      padding-left: 1.5rem;
    }
  }
}
