// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.gradient-effect-1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #322b6c),
    color-stop(75%, #131c6d),
    color-stop(100%, #b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 20%,
    #131c6d 75%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint (mobile) {
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #322b6c),
    color-stop(35%, #131c6d),
    color-stop(100%, #b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 10%,
    #131c6d 35%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  }

  @include breakpoint (mobile-Small) {
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #322b6c),
    color-stop(70%, #131c6d),
    color-stop(100%, #b1bff9)
  );
  background-image: linear-gradient(
    to bottom,
    #322b6c 10%,
    #131c6d 70%,
    #b1bff9 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  }

  
}

.hero {
  
  &_text {
    margin-top: 18rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

    @include breakpoint (mobile) {
      margin-top: 2rem;
    }


    &_heading {
      text-transform: uppercase;
      font-family: $font-tr-bd;
      font-size: 6.4rem;
      color: $color-white;
      letter-spacing: 0.2rem;
      margin-left: 14rem;
      z-index: 12;

      @include breakpoint (desktop--Small) {
        margin-left: 15rem;
      }

      @include breakpoint (mobile) {
        margin-left: 4rem;
      }

      @include breakpoint (mobile--Small) {
        font-size: 3.2rem;
        margin-left: 5rem;
      }

    }
    &_sub {
      font-family: $font-rb;
      font-size: 2.1rem;
      color: $color-white;
      margin-top: 1rem;
      margin-left: 14.5rem;
      
      @include breakpoint (desktop--Small) {
        margin-left: 15.5rem;
      }
      @include breakpoint (mobile) {
        margin-left: 4rem;
      }
      @include breakpoint (mobile--Small) {
        font-size: 1.3rem;
        margin-left: 8rem;
      }
    }
    &_sub-span {
      color: $color-yellow;
    }
  }

  &_img { 
    
    &_stars {
      position: absolute;
      top: 8rem;
      left: 77rem;

      @include breakpoint (desktop) {
        left: 75rem;
      }
      @include breakpoint (desktop--Small) {
        left: 70.5rem;
      } 

      @include breakpoint (tablet) {
        left: 71rem;
      }
      @include breakpoint (mobile) {
        width: 46.4rem;
        top: 17rem;
        left: 32rem;
      }
      @include breakpoint(mobile--Small) {
        display: none;
      }
    }

    &_stars-mobile {
      display: none;

      @include breakpoint(mobile--Small) {
       display: block;
       margin: 2rem auto;
       
       
      }
    }
    

    &_sun {
      position: absolute;
      top: 8rem;
      left: 86.5rem;

      @include breakpoint (desktop) {
        left: 85rem;
      }

      @include breakpoint (desktop--Small) {
        left: 80rem;
      }
      @include breakpoint (mobile) {
        width: 33.3rem;
        top: 17rem;
        left: 40rem;
      }

      @include breakpoint(mobile--Small) {
        width: 27rem;
        left: 5.5rem;
        top: 18rem;
        
       
       
      }
          
      

    }
  }
}

.socials {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  color: $color-blue;
  margin-top: 6rem;
  margin-bottom: 2.5rem;

  @include breakpoint (mobile) {
    padding-bottom: 55rem;
    margin-top: 10rem;

    @include breakpoint (mobile--Small) {
      margin-top: 3rem;
      padding-bottom: 0;
      
    }
  }

  &_copy {
    font-family: $font-tr-rg;
    font-size: 1.4rem;
    color: $color-blue;

    @include breakpoint (mobile) {
      display: none;
    }
  }

  &_policy {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.6rem;

    @include breakpoint (mobile) {
      display: none;
    }
  }

  &_followus {
    text-transform: uppercase;
    font-family: $font-tr-bd;
    font-size: 1.6rem;
    margin-right: -22rem;

    @include breakpoint (mobile) {
      display: none;
    }
  }

  a {
    padding-left: 1rem;
    text-decoration: none;

    :hover {
      fill: #1b2798;
    }
  }
}
