.main-section {
  display: flex;
  margin: 11.7rem 0 41.2rem 11rem;

  @include breakpoint(tablet) {
    margin: 7rem 0 25rem 9rem;
  }
}

.div {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
  width: 37.8rem;

  @include breakpoint(tablet) {
    margin-left: 6rem;
  }

  
  &_name {
    font-family: $font-tr-bd;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $color-footer-text;
    padding-bottom: 1.3rem;
  }

  &_author {
    font-family: "Roboto";
    font-size: 1.6rem;
    text-transform: capitalize;
    color: $color-black;
    padding-bottom: 5.2rem;
  }

  &_parag {
    font-family: "Roboto";
    font-size: 1.3rem;
    letter-spacing: 0.01rem;
    color: $color-black;
    line-height: 1.7rem;
    padding-bottom: 2rem;
  }
}
