.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem 0 41.2rem 12rem;

  @include breakpoint(desktop--Small) {
    margin: 9rem 0 30rem 10rem;
  }

  @include breakpoint(tablet) {
    margin: 5rem 0 10rem 5rem;
  }
  @include breakpoint(ipad) {
    margin: 4rem 0 10rem 4rem;
  }

  @include breakpoint(mobile) {
    display: block;
    margin-top: 3.1rem;
    margin-left: 3.7rem;
    margin-bottom: 8.6rem;
  }
  @include breakpoint(mobile--Small) {
    margin-left: 3.1rem;
  }
  @include breakpoint(mobile--Smallest) {
    margin-left: 3.2rem;
  }
  @include breakpoint (desktop) {
    margin-left: 11rem;
  }
  @include breakpoint (desktop--Large) {
    margin-top: 9rem;
  }



  &_img {

    @include breakpoint(tablet)  {
      width: 35rem;
    }
    @include breakpoint(mobile) {
      width: 30rem;
      
    }
    @include breakpoint (desktop) {
      width: 41rem;
      
    }

  }

}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 11rem;
  width: 37.8rem;

  @include breakpoint(desktop--Small) {
    margin-left: 9rem;
  }

  @include breakpoint(tablet) {
    margin-left: 5rem;
    width: 31rem;
    
  }
  @include breakpoint(ipad) {
    margin-left: 4rem;
  }

  @include breakpoint(mobile) {
    margin-left: 0;
    margin-top: 2rem;
    width: 30rem;
  }
  
  &_name {
    font-family: $font-tr-bd;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $color-footer-text;
    padding-bottom: 1.3rem;

    @include breakpoint(mobile) {
      padding-bottom: 1rem;
    }
  }

  &_author {
    font-family: "Roboto";
    font-size: 1.6rem;
    text-transform: capitalize;
    color: $color-black;
    padding-bottom: 5.2rem;

    @include breakpoint(tablet) {
      padding-bottom: 3rem;
    }

    @include breakpoint(mobile)  {
      padding-bottom: 2.5rem;
    }

    
  }

  &_parag {
    font-family: "Roboto";
    font-size: 1.3rem;
    letter-spacing: 0.01rem;
    color: $color-black;
    line-height: 1.7rem;
    padding-bottom: 2rem;

    @include breakpoint(mobile) {
      padding-right: 2.3rem;
    }
    @include breakpoint (desktop)  {
      padding-bottom: 3.4rem;
    }
    @include breakpoint (desktop--Large) {
      padding-bottom: 3.2rem;
    }
  }
}
