.title {
  font-family: $font-tr-bd;
  font-size: 1.8rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: $color-footer-text;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @include breakpoint(mobile--Small) {
    display: none;
  }
}

// ***  SLIDER  ***///

.projectss {
  height: 121rem;
}

// *** this is to move buttons prev and next to left side on page projects ***

.container_projekti .slick-prev {
  left: 460px;
  margin-bottom: 10rem;
  top: 1320px;
}


.container_projekti .slick-next {
  right: 600px;
  top: 1320px;


  @include breakpoint(desktop--Small) {
    right: 550px;
  }
  @include breakpoint(tablet) {
    right: 100px;
  }
 
}

.slider-projects {
  margin-left: 15rem;
  

  @include breakpoint(desktop--Small) {
    margin-left: 13rem;
  }

  @include breakpoint(tablet) {
    margin-left: 10rem;
  }


  @include breakpoint(mobile--Small) {
    margin-left: 0;
    margin-top: 3rem;
  }
}

.div-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &_wrap {
    margin-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include breakpoint(mobile--Small) {
      display: block;
      margin-bottom: 4rem;
    }

    &_circle {
      @include breakpoint(mobile--Small) {
        width: 30rem;
        height: 30rem;
        margin-left: 3.1rem;
        margin-bottom: 3.5rem;
      }
    }

    &_block {
      width: 38rem;
      margin-left: 4rem;

      @include breakpoint(mobile--Small) {
        width: 30rem;
        margin-left: 3.4rem;
      }

      &_name {
        font-family: $font-tr-rg;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 0.01rem;
        text-transform: uppercase;
        color: $color-footer-text;
        padding-bottom: 2.4rem;

        @include breakpoint(mobile--Small) {
          font-size: 1.6rem;
          padding-bottom: 2rem;
        }
      }

      &_par {
        font-family: "Roboto";
        font-size: 1.3rem;
        color: $color-black;
        line-height: 2.2rem;
        padding-bottom: 2rem;

        @include breakpoint(mobile--Small) {
          line-height: 2rem;
        }
      }
    }
  }
}
.div-22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &_wrap {
    margin-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include breakpoint(mobile--Small) {
      display: block;
      margin-bottom: 4rem;
    }

    &_circle {
      @include breakpoint(mobile--Small) {
        width: 30rem;
        height: 30rem;
        margin-left: 3.2rem;
        margin-bottom: 3.5rem;
      }
    }

    &_block {
      width: 38rem;
      margin-left: 4rem;

      @include breakpoint(mobile--Small) {
        width: 30rem;
        margin-left: 3.5rem;
      }

      &_name {
        font-family: $font-tr-rg;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 0.01rem;
        text-transform: uppercase;
        color: $color-footer-text;
        padding-bottom: 2.4rem;

        @include breakpoint(mobile--Small) {
          font-size: 1.6rem;
          padding-bottom: 2rem;
        }
      }

      &_par {
        font-family: "Roboto";
        font-size: 1.3rem;
        color: $color-black;
        line-height: 2.2rem;
        padding-bottom: 2rem;

        @include breakpoint(mobile--Small) {
          line-height: 2rem;
        }
      }
    }
  }
}

.div-33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &_wrap {
    margin-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include breakpoint(mobile--Small) {
      display: block;
      margin-bottom: 4rem;
    }

    &_circle {
      @include breakpoint(mobile--Small) {
        width: 30rem;
        height: 30rem;
        margin-left: 3.2rem;
        margin-bottom: 3.5rem;
      }
    }

    &_block {
      width: 38rem;
      margin-left: 4rem;

      @include breakpoint(mobile--Small) {
        width: 30rem;
        margin-left: 3.5rem;
      }

      &_name {
        font-family: $font-tr-rg;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 0.01rem;
        text-transform: uppercase;
        color: $color-footer-text;
        padding-bottom: 2.4rem;

        @include breakpoint(mobile--Small) {
          font-size: 1.6rem;
          padding-bottom: 2rem;
        }
      }

      &_par {
        font-family: "Roboto";
        font-size: 1.3rem;
        color: $color-black;
        line-height: 2.2rem;
        padding-bottom: 2rem;

        @include breakpoint(mobile--Small) {
          line-height: 2rem;
        }
      }
    }
  }
}

//   SLIDER - END


//  LOAD MORE ON MOBILE DEVICE //@include

.hidden {
  @include breakpoint(mobile--Small) {
    display: none;
  }

}