.texts-2 {
  height: 119rem;
}

//    SLIDER

.slider-publications {
  margin-left: 15rem;
  margin-top: 5rem;
  margin-bottom: 21rem;
  

  @include breakpoint (desktop--Small) {
    margin-left: 13rem;
  }

  @include breakpoint(mobile) {
    
  }

}

// *** this is to move buttons prev and next on page publications ***

.container_tekstovi .slick-prev {
  left: 915px;

  @include breakpoint (desktop) {
    left: 890px;
  }

  @include breakpoint (desktop--Small) {
    left: 880px;
  }

  @include breakpoint(mobile) {
    left: 422px;
  }
}


.container_tekstovi .slick-next {
  right: 145px;

  @include breakpoint (desktop) {
    right: 140px;
  }

  @include breakpoint (desktop--Small)  {
    right: 130px;
  }


  @include breakpoint(mobile)  {
    right: 75px;
  }
}


.div-111 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &_wrap {
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint (tablet)  {
      margin-right: 7rem;
    }

    a {
      text-decoration: none;
    }

    &_block {

      &_publ {
        font-family: $font-tr-rg;
        text-transform: uppercase;
        color: $color-footer-text;
        font-size: 1.4rem;
        padding-top: 1rem;
        padding-bottom: .5rem;
      }

      &_author {
        font-family: $font-tr-rg;
        text-transform: capitalize;
        color: $color-black;
        font-size: 1.2rem;
      }
    }
  }
}
