//  NAVIGATION AND BANNER

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: $color-footer-text;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 57.5rem;
  margin-top: 5.6rem;
  margin-bottom: 1rem;

  @include breakpoint(tablet) {
    width: 50rem;
    margin-top: 6rem;
  }

  &_heading {
    color: $color-white;
    font-family: $font-tr;
    font-size: 4rem;
    margin: 0 auto;

    @include breakpoint(tablet) {
      font-size: 3.5rem;
    }

    @include breakpoint(mobile) {
      font-size: 2rem;
      line-height: 3rem;
      padding-left: 4rem;
    }
    @include breakpoint(mobile--Small) {
      padding-left: 3rem;
    }
  }

  &_line-2 {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 57.5rem;
    margin-top: 2.3rem;
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
      width: 50rem;
    }

    @include breakpoint(mobile) {
      border: 0.3px solid rgba(255, 255, 255, 0.3);
      width: 29.7rem;
      margin-left: 3.8rem;
      margin-top: 1rem;
    }
    @include breakpoint(mobile--Small) {
      width: 30rem;
      margin-left: 3rem;
    }
    @include breakpoint(mobile--Smallest) {
      border: 0.5px solid rgba(255, 255, 255, 0.3);
    }
  }

  &_name-and-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include breakpoint(mobile) {
      padding-left: 3.8rem;
      padding-right: 3.8rem;
    }
    @include breakpoint(mobile--Small) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &_name {
    color: rgba(255, 255, 255, 0.9);
    font-family: $font-tr-rg;
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
    margin-bottom: 0.3rem;

    @include breakpoint(mobile) {
      font-size: 1.2rem;
    }
  }

  &_date {
    color: rgba(255, 255, 255, 0.5);
    font-family: $font-tr-rg;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }

  &_links {
    fill: $color-white;
    margin-left: 2rem;  
    margin-top: .5rem;  

    @include breakpoint (desktop) {
      width: 2.2rem;
      height: 2rem;
    }

    &:hover {
      fill-opacity: 0.7;
    }
  }

  &_links-marginright {
    margin-right: 1.5rem;

    @include breakpoint(mobile) {
      margin-right: 0;
    }
    @include breakpoint (desktop) {
      margin-right: 1rem;

    }
  }

  a {
    text-decoration: none;
  }
}

//  TEXT

.text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    margin-bottom: 7rem;
  }

  &_flag {

    @include breakpoint(tablet) {
      width: 50rem;
    }

    @include breakpoint(mobile) {
      width: 30rem;
      margin-bottom: 2rem;
    }
    @include breakpoint(desktop) {
      width: 57.6rem;
    }
  }

  &_info {
    position: absolute;
    top: 23rem;
    left: 91.9rem;

    @include breakpoint(desktop--Small) {
      left: 88.3rem;
    }
    @include breakpoint(ipad--Landscape) {
      left: 75.6rem;
    }
    @include breakpoint(tablet) {
      top: 19.7rem;
      left: 61.3rem;
    }
    @include breakpoint(ipad) {
      left: 59.7rem;
    }
    @include breakpoint(mobile) {
      display: none;
    }
    @include breakpoint(desktop) {
      width: 2.3rem;
      left: 90.6rem;
    }
    @include breakpoint(desktop--Large) {
      top: 23.5rem;
      width: 2.2rem;
      left: 89.1rem;
    }
  }

  &_paragraph-onespace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.1rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    
    
    @include breakpoint(tablet) {
      padding-right: 3.5rem;
      padding-left: 3.5rem;
      
    }

    @include breakpoint(mobile) {
      font-size: 1.4rem;
      width: 36.4rem;
      padding-left: 3rem;
      padding-right: 3rem;
      line-height: 18px;
      letter-spacing: 0.04rem;
    }
  }

  &_paragraph-doublespace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.1rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;
    padding-bottom: 4rem;

   

    @include breakpoint(tablet) {
      padding-right: 3.5rem;
      padding-left: 3.5rem;
      
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
      width: 36.4rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 2rem;
      line-height: 18px;
      letter-spacing: 0.04rem;
    }
  }

  &_paragraph-nospace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.1rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;


    @include breakpoint(tablet) {
      padding-right: 3.5rem;
      padding-left: 3.5rem;
      
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
      width: 36.4rem;
      padding-left: 3rem;
      padding-right: 3rem;
      line-height: 18px;
      letter-spacing: 0.04rem;
    }
  }

  &_paragraph-topbottomspace {
    font-family: "Roboto";
    font-size: 1.5rem;
    width: 57.1rem;
    color: rgba(103, 103, 103, 0.9);
    text-align: justify;
    letter-spacing: 0.01rem;
    padding-top: 2rem;
    padding-bottom: 2rem;


    @include breakpoint(tablet) {
      padding-right: 3.5rem;
      padding-left: 3.5rem;
      
    }
  }
}

.Networks-nodisplay {
  @include breakpoint(mobile) {
    display: none;
  }
}

.mobile-displaynone {
  @include breakpoint(mobile) {
    display: none;
  }
}
